.business .keyvisual_area {
  margin-top: 108px;
  height: auto;
}

.business .keyvisual_area .keyvisual_navi li {
  color: #000;
}

.business .content_wrap {
  width: 1920px;
  /* padding-left:260px; */
  box-sizing: border-box;
}

.business .content{
  padding-left: 260px;
}

.business .content .content_title {
  display: block;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.3;
}

.business .content .explain_text {
  margin-top: 40px;
  font-size: 20px;
  line-height: 1.6;
}

.business .content strong {
  font-size: 20px;
  font-weight: 700;
}

.business .content_image {
  margin-top: 140px;
  margin-left: -260px;
}

.business .content_image img {
  width: 100%;
}

.business .service_list {
  padding-right: 100px;
  transition: 1.5s;
}

.business .service_list .list_box {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5s cubic-bezier(0.42, 0, 0.23, 1.09);
}



.business .service_list .list_box.on {
  opacity: 1;
}


.business .service_list .list_box .service_title,
.business .service_list .list_box .explain_title {
  display: block;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.428;
} 

.business .service_list .list_box .service_title {
  width: 20%;
  text-align: center;
}

.business .service_list .list_box .service_explain {
  width: 32%;
  padding-right: 100px;
}


.business .service_list .list_box .service_explain strong {
  font-weight: 700;
}
.business .service_list .list_box .explain_title {
  margin-bottom: 20px;
  font-size: 36px;
  line-height: 1.333;
}

.business .service_list .list_box p + p {
  margin-top: 10px;
}

.business .service_list .content_fix_area {
  position: relative;
  height: 5000px;
}

.business .service_list .content_sticky_area {
  overflow: hidden; 
  position: sticky; 
  position: -webkit-sticky; 
  top:0; 
  left: 0; 
  width: 100%;
  height: 100vh;
}

.business .service_list .real_height {
  position: relative;
  height: calc(100vh - 72px);
}

.business .service_list .fixed_scrollmotion {
  position: relative;
  height: 100%;
}

.business .service_list .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}


.business .service_list .list_box .service_title {
  position: relative;
  top:-50%;
  transition: 0.5s;
}

.business .service_list .list_box.on .service_title {
  top:0;
}

.business .service_list .list_box .service_explain {
  position: relative;
  top:50%;
  transition: 0.5s;
}

.business .service_list .list_box.on .service_explain {
  top:0;
}

.business .service_list .list_box .list_image {
  position: relative;
  top:-50%;
  transition: 0.5s;
}
.business .service_list .list_box.on .list_image {
  top:0;
}


.business .service_list .list_box.before .service_title,
.business .service_list .list_box.before .list_image {
  top:50%;
}

.business .service_list .list_box.before .service_explain {
  top:-50%;
}


/* 1개만 있을경우 */
.business .service_list.v2 {
  margin: 260px 0 360px;
  padding-right: 100px;
}

.business .service_list.v2 .list_box {
  position: static;
  opacity: 1;
}

.business .content_title.on,
.business .explain_text.on {
  animation: leftDiraction 1.5s;
}

.content_image.on{
  animation: leftDiraction 1s;
}

.business .content_title.right,
.business .explain_text.right {
  animation: rightDiraction 1.5s;
  opacity: 0;
}

.content_image.right{
  animation: rightDiraction 1s;
  opacity: 0;
}

.business .content_tab {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
}

.business .content_tab .tab_area {
  margin-top: 100px;
}

.business .content_tab .tab_area .tab_list.on {
  position: sticky;
  top: 50px;
  width: 100%;
  padding: 20px 0;
  background: #fff;
  z-index: 10;
}

.business .content_tab .tab_area .tab_list.on.plus {
  top: 125px;
}

.business .content_tab .accordian_area {
  margin-top: 0;
}

.business .content_tab .tab_title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.428;
}

.business .content_tab .view {
  display: block;
  position: relative;
  padding-top: 20px;
  border-top:2px solid #000;
}

.business .content_tab .view.on {
  padding-top: 120px;
}

.business .content_tab .view.on.plus {
  padding-top: 195px;
}
.business .content_tab .view::after {
  display: block;
  clear: both;
  content: "";
}

.business .content_tab .left_area {
  float: left;
  width: 20%;
}

.business .content_tab .left_area .title {
  display: block;
  margin-top: 20px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.428;
}

.business .content_tab .right_area {
  float: right;
  width: 75%;
}


/* 애니메이션 */
@keyframes leftDiraction {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes rightDiraction {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}