section.service,
section.it{
  padding-bottom: 0;
}

.wrap.visible {
  overflow: visible;
}

.business .keyvisual_area {
  margin-top: 108px;
  height: auto;
}

.business .keyvisual_area .keyvisual_navi li {
  color: #000;
}

.business .content_wrap {
  width: auto;
  max-width: unset;
  box-sizing: border-box;
}

.business .content{
  position: relative;
  padding-left: 260px;
  z-index: 0;
}
.business .title_wrap {
  opacity: 0;
}

.business .content .content_title {
  display: block;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.3;
}

.business .content .explain_text {
  margin-top: 40px;
  font-size: 20px;
  line-height: 1.6;
}

.business .content strong {
  font-size: 20px;
  font-weight: 700;
}


.business .content_image {
  overflow: hidden;
  height: 320px;
  margin-top: 140px;
  margin-left: -260px;
  opacity: 0;
}

.business .content_image img {
  width: 100%;
  margin-top: -275px;
}

.business .content_image.supply img {
  margin-top: -415px;
}
/* .business .content_image.right {
  animation: imageDiractionV2 1.5s ;
  opacity: 1;
} */

.business .content_image.service img {
  margin-top: -145px;
}
.business .content_image.health img {
  margin-top: -580px;
}

.business .service_area {
  position: relative;
  top:-120px;
  margin: 0 100px 0 260px;
  opacity: 0;
  z-index: 10;
}

.business .content_image.right img {
  margin-top: 0;
}

.business .service_area .text_box {
  float: left;
  width: 50%;
  padding-top: 300px;
}
.business .service_area .text_box .text_area {
  display: flex;
  align-items: center;
  color: #333;
  opacity: 0.4;
  transition: 0.5s;
}

.business .service_area .text_box .text_area .mobile_image {
  display: none;
}

.business .service_area .text_box .text_area.active {
  opacity: 1;
}

.business .service_area .text_box .service_title,
.business .service_area .text_box .explain_title {
  display: block;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.428;
} 

.business .service_area .text_box .service_title {
  width: 85%;
  margin-right:20%;
}

.business .service_area .text_box .service_title.width_auto {
  width: auto;
}

.business .service_area .text_box .service_explain strong {
  font-weight: 700;
}

.business .service_area .text_box .explain_title {
  margin-bottom: 20px;
  font-size: 36px;
  line-height: 1.333;
}

.business .service_area .text_box p + p {
  margin-top: 10px;
}


.business .service_area.v2 .text_box {
  padding-top: 0;
}

/* 1개만 있을경우 */
.business .service_area.v2 {
  position: relative;
  margin-bottom: 300px;
}
.business .service_area.v2::after {
  display: block;
  content: "";
  clear: both;
}

.business .service_area.v2 .fix_wrap .image_view {
  position: absolute;
  top:-50%;
  left: auto;
  right: 0;
  transform: translateY(-50%);
}




.business .title_wrap.down {
  animation: downtDiraction 1s;
  opacity: 0;
}
.business .title_wrap.on{
  animation: leftDiraction 1.5s;
  opacity: 1;
}

.content_image.on{
  animation: leftDiraction 1.5s;
  opacity: 1;
}

/* .content_image.right{
  animation: rightDiraction 1.5s;
  opacity: 0;
} */


.content_image.right{
  position: fixed;
  height: auto;
  right: 100px;
  left: auto;
  margin: 0;
  animation: imageDiractionV2 1.5s;
  z-index: -1;
  opacity: 0;
}


.business .content_tab {
  position: relative;
  
  max-width: 1400px;
  margin: 0 auto;
}

.business.it .content_tab,
.business.service .content_tab {
  top:-400px;
}

.business .content_tab .tab_area {
  margin-top: 100px;
}

.business .content_tab .tab_area .tab_list.on {
  position: sticky;
  top: 50px;
  width: 100%;
  padding: 20px 0;
  background: #fff;
  z-index: 10;
}

.business .content_tab .tab_area .tab_list.on.plus {
  top: 125px;
}

.business .content_tab .accordian_area {
  margin-top: 0;
}

.business .content_tab .tab_title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.428;
}

.business .content_tab .view {
  display: block;
  position: relative;
  padding-top: 20px;
  border-top:2px solid #000;
}

.business .content_tab .view::after {
  display: block;
  clear: both;
  content: "";
}

.business .content_tab .left_area {
  float: left;
  width: 20%;
}

.business .content_tab .left_area .title {
  display: block;
  margin-top: 20px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.428;
}

.business .content_tab .right_area {
  float: right;
  width: 75%;
}

.fix_motion .fix_wrap {
  position: relative;
}

.fix_motion .fix_wrap:after {
  clear: both;
  display: block;
  content: '';
}

.fix_motion .fix_wrap .tit {
  position: relative;
  z-index: 50;
  margin-bottom: 170px;
  font-size: 200px;
  color: #333;
  text-align: center;
}

.fix_motion .fix_wrap .text_box {
  float: left;
  width: 55%;
  padding-top: 175px;
}

.fix_motion .fix_wrap .text_box p.active {
  color: #fff;
}

.fix_motion .fix_wrap .text_box .two {
  margin-top: 300px;
}

.fix_motion .fix_wrap .text_box .three {
  margin-top: 300px;
}

.fix_motion .fix_wrap .text_box .four {
  margin-top: 300px;
  margin-bottom: 400px;
}

.fix_wrap .image_view {
  position: sticky;
  position: -webkit-sticky;
  top: calc(50vh - 120px);
  left: 0;
  z-index: 40;
  float: right;
  width: 39.5%;
}

.fix_wrap .image_view.fixed {
  position: absolute;
  left: auto;
  right: 0;
  top: calc(50% - -378px);
  /* transform: translateY(-50%); */
}


.service .fix_wrap .image_view.fixed {
  top: calc(50% - -160px);
}

.no-csspositionsticky .fix_motion .fix_wrap .image_view {
  position: relative;
  top: 600px;
}

.fix_wrap .image_view .slide_wrap {
  overflow: hidden;
  position: absolute;
  left: 15px;
  top: 89px;
  z-index: 10;
  width: 600px;
  height: 400px;
}

.fix_wrap .image_view .slide_wrap .slide {
  width: 600px;
  height: 1600px;
  transition: transform .5s;
}

 .fix_wrap .image_view .slide_wrap .slide figure {
  width: 600px;
}


/* 애니메이션 */
@keyframes leftDiraction {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes rightDiraction {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes imageDiraction {
  0% {
    
    width: 100%;
    height: 50%;
    opacity: 1;
    top:auto;
    margin-top: 300px;
  }
  100% {
    bottom: 0;
    width: 600px;
    height: 400px;
    margin-top: 700px;
    opacity: 0;
  }
}


@keyframes imageDiractionV2 {
  0% {
    
    width: 50%;
    height: 50%;
    opacity: 1;
    transform: translateX(0);
  }

  50% {
    width: 15%;
    height: 15%;
    opacity: 0;
    transform: translateX(50%);
  }

  100% {
    width: 5%;
    height: 5%;
  }
}

@keyframes downDiraction {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  50% {
    opacity: 0.5;
    transform: translateY(60%);
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.business .only-pc {
  display: block;
}

.business .only-mobile {
  display: none;
}

@media all and (max-width:1600px) {
  .business .service_area {    
    top:-20px;
    margin:0 100px 300px;
  }
  .fix_motion .fix_wrap .image_view .slide_wrap,
  .fix_motion .fix_wrap .image_view .slide_wrap .slide,
  .fix_motion .fix_wrap .image_view .slide_wrap .slide figure {
    width: 500px;
    height: 345px;
  }

  .fix_motion .fix_wrap .image_view .slide_wrap .slide figure img {
    width: 100%;
  }
 
}

@media all and (max-width:1400px) {

  .business .service_area {
    margin:0 5%;
  }

  .business .service_area .text_box .service_title {
    font-size: 20px;
  }

  .business .service_area .text_box .explain_title {
    font-size: 30px;
    line-height: 1.333;
  }

  .business .service_area .text_box .list_image {
    width: 500px;
    height: 300px;

  }
  .business .service_area .text_box .service_explain {
    padding-right: 5%;
  }

  .fix_motion .fix_wrap .image_view .slide_wrap,
  .fix_motion .fix_wrap .image_view .slide_wrap .slide,
  .fix_motion .fix_wrap .image_view .slide_wrap .slide figure {
    width: 450px;
  }
  
  .fix_wrap .image_view.fixed {
    top:55%;
  }
}

@media all and (max-width:1200px) {

  section.it,
  section.supply {
    padding-bottom: 100px;
  }

  .business .only-pc {
    display: none;
  }
  
  .business .only-mobile {
    display: block;
  }
  .business .content_wrap {
    width: 100%;
    padding-top: 106px;
  }

  .business .content_image {
    margin: 70px -30px 100px;
  }

  .business .content {
    padding-left: 0;
  }

  .business .keyvisual_area{
    margin-top: 0
  }

  .business .service_area  {
    top: auto;
    margin: 0;
    opacity: 1;
  }

  .business .content .content_title {
    font-size: 32px;
  }

  .business .content .explain_text,
  .business .content strong {
    margin-top: 21px;
    font-size: 14px;
    line-height: 1.5714;
  }
  .business .content .explain_text br {
    display: none;
  }

  .business .service_area .inner {
    display: block;
  }

  .business .service_area .text_box .service_title,
  .business .service_area .text_box .service_explain {
    width: 100%;
    padding: 0;
  }

  .business .service_area.v2 {
    margin: 100px 0;
    padding-right:0;
  }

  .business .service_area .text_box .service_title {
    font-size: 16px;
    text-align: left;
  }

  .business .service_area .text_box .explain_title {
    margin: 30px 0 15px;
    font-size: 18px;
  }

  .business .service_area .text_box .service_explain p {
    font-size: 14px;
    line-height: 1.5714;
  }

  .business .service_area .text_box .service_title br {
    display: none;
  }

  .business .service_area .text_box .list_image {
    width: auto;
    height: auto;
    margin-top: 40px;
  }
  .business .service_area .text_box .list_image img {
    width: 100%;
  }
  

  .business .content_tab .tab_title {
    display: block;
    margin-bottom: 20px;
    font-size: 18px;
    
  }

  .business .content_tab .tab_area {
    margin-top: 0;
  }

  .business .content_tab .view {
    margin-top: 0;
  }

  .business .content_tab .view + .view {
    margin-top: 50px;
  }

  .business .content_tab .left_area,
  .business .content_tab .right_area {
    float: none;
    width: 100%;
  }

  .business .content_tab .left_area .title {
    margin-top: 0;
    font-size: 16px;
  }

  .business .accordian_area:first-child {
    margin-top: 20px;
    border-top: 1px solid #ccc;
  }

  .business .service_area {
    padding-right: 0;
  }

  .business .service_area .content_sticky_area {
    overflow: visible;
    position: static;
    height: auto;
  }

  .business .service_area .real_height {
    height: auto;
  }
  .business .service_area .text_box {
    position: static;
  }

  .business .service_area .text_box .service_title,
  .business .service_area .text_box .service_explain,
  .business .service_area .text_box .list_image{
    opacity: 1;
  }
  .business .service_area .text_box.before .list_image img,
  .business .service_area .text_box .list_image img {
    top:0;
  }

  .business .service_area .text_box .service_explain strong {
    font-size: 14px;
    line-height: 1.5714;
  }
  .business .service_area .text_box .service_explain br {
    display: none;
  }

  .business .service_area .content_fix_area {
    height: auto;
  }

  .business .content_image img {
    margin-top: 0;
    max-height: 600px;
  }

  .business .title_wrap.down {
    animation: none;
    opacity: 1;
  }
  .content_image.right {
    animation: none;
    position: static;
    opacity: 1;
  }

  .business .service_area .text_box + .text_box {
    margin-top: 50px;
  }

  .business .content_tab {
    margin-top: 50px;
  }

  .business .content_tab .tab_area .tab_list {
    padding: 30px 0 40px;
  }

  .business .content_tab .tab_area .tab_list.on.plus {
    top:100px;
  }

  .business .service_area {
    transition: 0.5s;
  }

  .business .title_wrap,
  .business .title_wrap.on {
    animation: unset;
    opacity: 1;
  }
  .business .content_image,
  .business .content_image.on {
    animation: uset;
    opacity: 1;
  }

  

  .business .service_area .text_box .text_area {
    display: block;
  }

  .business .service_area .text_box .text_area .mobile_image {
    display: block;
    margin-top: 40px;
  }

  .business .service_area .text_box .text_area .mobile_image img {
    width: 100%;
  }

  .fix_motion .fix_wrap .image_view {
    display: none;
  }

  .fix_wrap .image_view {
    top:calc(50vh - 91px);
  }

  .fix_wrap .image_view.fixed {
    top:68%;
  }
  .fix_motion .fix_wrap .text_box{
    float: none;
    width: 100%;
    padding-top: 0;
  }
  .fix_motion .fix_wrap .text_box .one {
    padding-top: 0;
  }

  .fix_motion .fix_wrap .text_box .two,
  .fix_motion .fix_wrap .text_box .three,
  .fix_motion .fix_wrap .text_box .four {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .business.it .content_tab, 
  .business.service .content_tab {
    top:auto
  }

  .business .service_area.v2 .fix_wrap .image_view.pc {
    display: none;
  }

  .business .service_area.v2.scroll_motion {
    opacity: 0.4;
    transform: translateY(0);
  }
  .business .service_area.v2.scroll_motion.on {
    opacity: 1;
    transform: translateY(0);
  }

  .business .content_image.supply img,
  .business .content_image.health img,
  .business .content_image.service img {
    margin-top: 0;
  }

  .business .content_image.right {
    animation: unset;
  }

  .business .service_area .text_box {
    float: none;
    width: 100%;
  }
  .business .content_image {
    height: auto;
  }

  .business .content_image img {
    width: 100%;
    height: 100%;
  }

 
  

}

@media all and (max-width:500px) {
  .business .content_tab .tab_area .tab_list,
  .business .content_tab .tab_area .tab_list.on {
    display: block;
    text-align: center;
    overflow: auto;
  }

  .business .content_tab .tab_area .tab_list .scroll_mobile {
    position: relative;
    width: 500px;
  }

  .business .content_tab .tab_area .tab_list .scroll_mobile:after {
    display: block;
    content: "";
    clear: both;
  }

  .business .content_tab .tab_area .tab_list a {
    float: left;
    width: 19%;
  }
}

