/* fonts */
@font-face {
  font-family:'NotoSans';
  font-weight: 300;
  src: url('../fonts/NotoSansKR-Light.otf');
}

@font-face {
  font-family:'NotoSans';
  font-weight: 400;
  src: url('../fonts/NotoSansKR-Regular.otf');
}
@font-face {
  font-family:'NotoSans';
  font-weight: 700;
  src: url('../fonts/NotoSansKR-Bold.otf');
}

/* ============================== reset ========================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
  font-weight: 400;
  font-family: "NotoSans";
  font-size: 16px;
  line-height: 1.75;
  color: #000;
  word-break: keep-all;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
body.overflow {
  overflow: hidden;
}
ol, ul {
	list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

input:focus {
  border-width: 0;
  outline: 1px solid #059aee;
}

button {
  background: none;
  padding:0;
  margin:0;
  border:0;
  color: inherit;
  font-size: inherit;
  cursor: pointer;
}

button:focus-visible {
  outline: 1px solid #059aee;
}

img {
  image-rendering: -webkit-optimize-contrast
}

a:focus-visible {
  outline: 1px solid #059aee;
}

.swiper-button-next:focus-visible,
.swiper-button-prev:focus-visible {
  outline: 1px solid #059aee;
}

/* skip_navigation */
.skip_navigation a {
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  height: 30px;
  padding: 0 6px;
  text-align: center;
  background: #004098;
  line-height: 30px;
  color: #fff;
  font-size: 12px;
  z-index: 10000;
}

.skip_navigation a:focus,
.skip_navigation a:active {
  top: 0;
}
#top {
  position: fixed;
  bottom: 5%;
  right: 5%;
  width: 50px;
  height: 50px;
  z-index: 100;
}

#top button {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -9999px;
  background: url('../images/common/top.png') no-repeat center;
  background-size: 100%;
  image-rendering: -webkit-optimize-contrast
}


/* layout */
.wrap {
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  
}

.wrap.visible {
  overflow: visible;
}

section {
  padding-bottom: 180px;
}

.content_wrap {
  position: relative;
  max-width: 1920px;
  width: 1400px;
  margin: 0 auto;
  padding-top: 100px;
}

/* button */
.wrap .com_button {
  overflow: hidden;
  position: relative;
  display: inline-block;
  height: 50px;
  padding: 0 50px;
  line-height: 50px;
  border-radius: 50px;
  font-size: 16px;
  text-align: center;
  color: #000;
  cursor: pointer;
  font-weight: 700;
  z-index: 1;
}

.wrap .com_button::before {
  content: "";
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  background: #004098;
  transform: translateX(-105%);
  transition: all 0.4s;
  z-index: -1;
  
}

.wrap .com_button::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  border-radius: 60px;
  box-sizing: border-box;
  content: "";
  transition: all 0.4s;
  z-index: -1;
}

.wrap .com_button:hover{
  color: #fff;
}
.wrap .com_button:hover::before {
  transform: translateX(0%);
}
 
.wrap .com_button:hover::after {
 border: 1px solid #004098;
}

.wrap .com_button:focus-visible:after{
  border: 0;
}


/* keyvisual */
.keyvisual_area {
  position: relative;
  margin: 78px auto 0;
  height: 280px;
}

.keyvisual_area .keyvisual_width {
  position: relative;
  height: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.keyvisual_area h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  font-size: 40px;
  text-align: center;
  line-height: 1.725;
  font-weight: 700;
  color: #fff;
  transform: translate(-50%, -50%);
}

.keyvisual_area .sub_title {
  display: block;
  margin-top:10px;
  font-size:28px;
  line-height: 1.428;
  font-weight: 400;
  color: #fff;
}

.keyvisual_area .keyvisual_navi {
  position: absolute;
  right: 260px;
  top: 30px;
}

.keyvisual_area .keyvisual_navi ul {
  display: flex;
}

.keyvisual_area .keyvisual_navi li {
  position: relative;
  padding: 0 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.keyvisual_area .keyvisual_navi li::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 1px;
  height: 12px;
  background: rgba(255, 255, 255, 0.3);
  transform: translateY(-50%);
}

.keyvisual_area .keyvisual_navi li:last-child::before {
  display: none;
}

.business .keyvisual_area .keyvisual_navi li::before {
  background: rgba(0, 0, 0, 0.3);
}


/* tab */
.scroll_motion.on  .tab_list{
  position: sticky;
  position: -webkit-sticky;
  top:50px;
  left: 0;
  padding: 20px 0;
  background: #fff;
  z-index: 100;
  transition: 0.5s;
}
.scroll_motion.on .tab_list.plus {
  top:128px;
}

.tab_area {
  position: relative;
}

.tab_area .tab_list {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}
.tab_area .tab_list button,
.tab_area .tab_list a {
  position: relative;
  padding:0 20px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  color: #888;
}

.tab_area .tab_list button.on,
.tab_area .tab_list a.on,
.tab_area .tab_list button:hover,
.tab_area .tab_list a:hover {
  color: #000;
  font-weight: 700;
}

.tab_area .tab_list button:first-child,
.tab_area .tab_list a:first-child {
  padding:0 20px 0 0;
}

.tab_area .tab_list button:last-child,
.tab_area .tab_list a:last-child {
  padding-right:0;
}

.tab_area .tab_list button::after,
.tab_area .tab_list a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 20px;
  background: #000;
  transform: translateY(-50%);
}

.tab_area .tab_list button:last-child::after,
.tab_area .tab_list a:last-child::after {
  display: none;
}

.tab_area .view {
  display: none;
  margin-top: 80px;
}

.tab_area .view.on {
  display: block;
}

/* pageing */
.pagingArea {
  margin: 100px 0 0;
  text-align: center;
}

.pagingArea>a {
  display: inline-block !important;
  width: 15px;
  height: 16px;
  margin: 0 15px;
  font-size: 20px;
}

.pagingArea>a:hover,
.pagingArea>a.on {
  padding-bottom: 15px;
  border-bottom: 2px solid #000;
  font-weight: bold;
  color: #000
}

.pagingArea>a.txt {
  margin: 0;
  width: 31px;
  height: 31px;
  text-indent: -9999px
}

.pagingArea>a.txt:hover,
.pagingArea>a.txt.on {
  border-bottom: 0;
}

.pagingArea>a.first {
  background: url('../images/common/paging-first.png') no-repeat center;
  background-size: contain
}

.pagingArea>a.prev {
  margin-right: 20px;
  background: url("../images/common/paging-prev.png") no-repeat center;
  background-size: contain
}


.pagingArea>a.next {
  margin-left: 20px;
  background: url('../images/common/paging-next.png') no-repeat center;
  background-size: contain
}

.pagingArea>a.last {
  background: url('../images/common/paging-last.png') no-repeat center;
  background-size: contain;
}
.pagingArea>a.first:hover,
.pagingArea>a.prev:hover,
.pagingArea>a.next:hover,
.pagingArea>a.last:hover {
  padding-bottom: 0;
  border-bottom: 0;
}

/* header */

header {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  height: 78px;
  padding: 0 50px;
  border-bottom: 1px solid #eee;
  background: #fff;
  z-index: 1000;
  transition: 0.5s;
}

header.open {
  height: 380px;
}

header.up {
  top: -79px;
}

.gnb_area {
  display: flex;
  align-items: center;
  height: 78px;
  max-width: 1920px;
  margin: 0 auto;
}

.gnb_area .mobile_btn {
  display: none;
  width: 20px;
  height: 16px;
  background: url('../images/common/icon-hambuger.png') no-repeat;
  background-size: cover;
  cursor: pointer;
}
.gnb_area .mobile_btn.close {
  width: 19px;
  height: 19px;
  background: url('../images/common/icon-closemenu.png') no-repeat;
  background-size:cover;
}

.gnb_area .mobile_btn button {
  text-indent: -9999px;
}

header.open .gnb_area::after {
  content: "";
  position: absolute;
  left: 0;
  top:78px;
  width: 10000px;
  height: 1px;
  background: #eee;
}

header.open.scroll_menu .gnb_area::after {
  display: none;
}

.gnb_area .logo {
  width: 150px;
  margin-right: 20px;
}

.gnb_area .logo a {
  display: block;
  width: 100%;
  height: 100%;
}

.gnb_area .logo a img {
  width: 100%;
}

.gnb_area .menu_area {
  height: 100%;
}

.gnb_area .menu_area>ul {
  position: relative;
  padding: 25px 0;
}

.gnb_area .menu_area>ul::after{
  display: block;
  content: "";
  clear: both;
}

.gnb_area .menu_area>ul>li {
  float: left; 
  height: 100%;
  width: 25%;
  padding: 0 40px;
  box-sizing: border-box;
}
.gnb_area .menu_area>ul>li> a {
  display: block;
  position: relative;
  height: 100%;
  
}

.gnb_area .menu_area>ul>li> a:after {
  content: "";
  position: absolute;
  left:50%;
  bottom:-25px;
  width: 0;
  height: 2px;
  background: #004098;
  opacity: 0;
  transform: translateX(-50%);
}

.gnb_area .menu_area>ul>li.on > a:after,
.gnb_area .menu_area>ul>li:hover > a:after {
  opacity: 1;
  width: 100%;
  transition: 0.5s;
}

.gnb_area .menu_area>ul>li span {
  display: block;
  cursor: pointer;
}

.gnb_area .menu_area .sub_menu_list {
  display: none;
  position: absolute;
  top: 128px;
  align-items: center;
}
.gnb_area .menu_area>ul>li.on .sub_menu_list {
  display: block;
}

.gnb_area .menu_area .sub_menu_list li {
  margin-bottom: 20px;
}

.gnb_area .menu_area .sub_menu_list a {
  position: relative;
}



.gnb_area .menu_area .sub_menu_list a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #004098;

}

.gnb_area .menu_area .sub_menu_list a:hover,
.gnb_area .menu_area .sub_menu_list a.on {
  position: relative;
  font-weight: 700;
  color: #004098;
}


.gnb_area .menu_area .sub_menu_list a:hover::after,
.gnb_area .menu_area .sub_menu_list a.on::after {
  width: 100%;
  transition: 0.5s;
}
.content_type_menu {
  position: fixed;
  top:-50px;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 10;
  transition: 0.5s;
  background: #004098;
}

.content_type_menu .content_type_area {
  position: relative;
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
}

.content_type_menu .mobile_title {
  display: none;
}

.content_type_menu.hide{
  display: none;
}

.content_type_menu.down {
  top: 0px;
}

.content_type_menu.plus {
  top: 78px;
}

.content_type_menu .menu_list{
  position: absolute;
  display: none;
  top:50%;
  transform: translateY(-50%);
}

.content_type_menu .menu_list.on {
  display: block;
}

.content_type_menu .menu_list ul li {
  float: left;
}

.content_type_menu .menu_list ul li a {
  position: relative;
  display: inline-block;
  margin-right: 50px;
  color: #fff;
}

.content_type_menu .menu_list ul li a:after {
  content: "";
  position: absolute;
  left:0;
  bottom: -11px;
  width: 0;
  height: 2px;
  background: #fff;
  transition: 0.5s;
}

.content_type_menu .menu_list ul li a.on::after,
.content_type_menu .menu_list ul li a:hover::after {
  width: 100%;
}

.content_type_menu .menu_list.introduce {
  padding-left: 260px;
}

.content_type_menu .menu_list.buiness {
  padding-left: 400px;
}

.content_type_menu .menu_list.promotion {
  padding-left: 540px;
}

.content_type_menu .menu_list.recruit {
  padding-left: 680px;
}



/* footer */
footer {
  position: relative;
  padding: 60px 9.5%;
  background-color: #fff;
  border-top: 1px solid #eee;
  box-sizing: border-box;
}
footer::before {
  content: "";
  position: absolute;
  top:0;
}

footer .footer_width {
  max-width: 1920px;
  margin: 0 auto;
}

footer .top_area {
  display: flex;
  align-items: center;

}

footer .footer_logo {
  display: block;
  width: 175px;
  height: 53px;
  margin-right: 40px;
}

footer .footer_logo img {
  width: 100%;
  height: 100%;
}

footer .link_area {
  display: flex;
}

footer .link_area li {
  margin: 0 20px;
  line-height: 1.857;
}

footer .link_area li:first-child {
  margin:0; 
  margin-right: 20px;
}

footer .link_area li a {
  font-size: 14px;
  color: #333;
}

footer .link_area li a:focus-visible {
  outline: 1px solid #059aee;
}

footer .bottom_area {
  position: relative;
  margin-top: 20px;
}

footer .bottom_area p {
  font-size: 14px;
  line-height: 1.857;
}

footer .bottom_area p span {
  color: #666;
  font-size: 14px;
}

footer .info_area {
  line-height: 30px;
}

footer .info_area .info_text {
  position: relative;
  padding: 0 10px;
  color: #666;
  font-size: 14px;
}


footer .info_area .info_text:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 1px;
  height: 12px;
  background: #666;
  transform: translateY(-50%);
}

footer .info_area .info_text:first-child {
  padding: 0;
  padding-right: 10px;
}

footer .info_area .info_text:first-child:after {
  display: none;
}

footer .copyright {
  color: #666;
}

footer .accessibility_area {
  margin-top: 22px;
  background: url("../images/common/accessibility-logo.png") no-repeat;
  background-size: 64px;

}

footer .accessibility_area p {
  padding-left: 84px;
  line-height: 2.8;
  color: #666;
}

footer .accessibility_area button {
  margin-left: 10px;
  text-decoration: underline;
}

footer .accessibility_logo {
  position: absolute;
  right: 0;
  bottom: 10px;
  width: 167px;
}

footer .accessibility_logo img {
  display: block;
  width: 100%;
}

/* layer */
.layer_wrap {
  display: none;
  position: fixed;
  top:0; 
  left:0;
  bottom:0;
  right:0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1000;
}

.layer_wrap .layer_area{
  overflow: hidden auto;
  position: absolute;
  top:50%;
  left:50%;
  width : 750px;
  max-height: 600px;
  padding: 60px;
  background: #fff;
  transform: translate(-50%, -50%);
}

.layer_wrap .layer_area .normal_text{
  display: block;
  width: 30.5%;
  margin: 0 auto;
  font-size: 18px;
  text-align: center;
}

.layer_wrap .layer_area.v2 {
  max-width: 300px;
}

.layer_wrap .layer_area.v2 .normal_text {
  width: 100%;
}


.layer_wrap .layer_area .com_button {
  display: block;
  width: 200px;
  margin: 40px auto 0;
  padding: 0;
}

.layer_wrap .layer_area .top_area{
  
  position: sticky;
  top:-60px;
  left: 0;
  width: 100%;
  padding: 40px 0  40px;
  margin:-60px -60px 0 -60px;
  background: #fff;
  box-sizing: border-box;
}

.layer_wrap .layer_area .top_area span{
  display: block;
  font-size: 36px;
  line-height: 1.3;
  font-weight: 700;
}

.layer_wrap .layer_area .top_area button {
  position: absolute;
  top:45px;
  right:0;
  width: 30px;
  height: 30px;
  background: url('../images/common/icon_close.png') no-repeat ;
  background-size: cover;
  text-indent: -9999px;
}

.layer_wrap .layer_area .content_area strong {
  display: inline-block;
  font-weight: 700;
}

.layer_wrap .layer_area .content_area p {
  margin-top: 20px;
}

.layer_wrap .layer_area .content_area .img_area {
  padding: 80px 0;
  text-align: center;
}
.layer_wrap .layer_area .content_area .img_area img {
  max-width: 420px;
}

.layer_wrap .layer_area .content_area .text_area {
  padding: 60px 20px;
  border: 1px solid #f7f7f7;
}

.layer_wrap .layer_area .content_area .text_area li {
  position: relative;
}

.layer_wrap .layer_area .content_area .text_area li img {
  position: absolute;
  right:0;
  top:0;
}

.layer_wrap .layer_area .content_area .text_area li + li {
  margin-top: 40px;
}

.layer_wrap .layer_area .content_area .text_area li strong {
  padding-left: 25px;
}

.layer_wrap .layer_area .content_area .text_area li:nth-child(2) strong{
  padding: 0;
}

.layer_wrap .layer_area .img_frame {
  margin-top: 60px;
  text-align: center;
}

.layer_wrap .layer_area .img_frame .title {
  display: block;
  font-size: 20px;
  line-height: 1.6;
  text-align: left;
  font-weight: 700;
}

.layer_wrap .layer_area .img_frame .img_area {
  padding: 0;
  margin-top:20px;
}

.layer_wrap .layer_area .img_frame .img_area img{
  width: 100%;
  max-width: none;
}

.layer_wrap .layer_area.v2 .com_button {
  height: 50px;
  line-height: 50px;
  border-radius: 50px;
  border:1px solid #000;
}



/* 디테일페이지 */
.detail_area .info_detail span {
  display: block;
}
.detail_area .info_detail .category {
  color: #004098;
  font-weight: 700;
}

.detail_area .info_detail .detail_title {
  margin-top: 20px;
  line-height: 1.428;
  font-size: 28px;
  font-weight: 700;
  text-align: left!important;
}
.detail_area .info_detail .date {
  margin-top: 40px;
}

.detail_area .detail_content {
  margin-top: 40px;
  padding-bottom: 80px;
  border-bottom: 1px solid #eee;
}

.detail_area .detail_content a {
  display: inline-block;
  width: 100%;
  margin-top: 40px;
  color: #059aee;
  text-decoration: underline;
}

.detail_area .paging_bar {
  margin-top: 40px;
}

.detail_area .paging_bar a {
  padding-left: 16px;
  background: url('../images/recurit/icon-list-arrow.png') no-repeat left center;
  background-size: 7px;
}


/* sitemap */
.sitemap .keyvisual_area {
  background: url('../images/common/keyvisual_sitemap.jpg') no-repeat;
  background-size: cover;
}

.sitemap p.title {
  font-size: 28px;
  line-height: 1.4;
  font-weight: 700;
  text-align: center;
}

.sitemap .link_sitemap {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
  padding-top: 80px;
  border-top: 1px solid #eee;
}

.sitemap .link_sitemap .title{
  display: block;
  width: 160px;
  padding-bottom: 24px;
  border-bottom:1px solid #eee;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}

.sitemap .link_sitemap ul li {
  margin-top: 24px;
}

/* 개인정보보호법 */

.privacy_wrap {
  position: relative;
  padding-top:57px;
}
.privacy .keyvisual_area {
  background: url('../images/common/keyvisual_privacy.jpg') no-repeat;
  background-size: cover;
}

.privacy .right_select {
  position: absolute;
  right:0;
  top:0;
  width: 100%;
  width: 280px;
  margin-left: auto;
}

.privacy .right_select .com_select ul {
  top:53px;
  left: 0;
}

.privacy .right_select .com_select.on {
  margin-bottom: 1px;
}

.privacy .text_wrap {
  margin-top: 80px;
}

.privacy .text_wrap .text_area .title {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 700;
}

.privacy .text_wrap .text_area p + p {
  margin-top: 20px;
}

.privacy .text_wrap .text_area + .text_area {
  margin-top: 120px;
}

.privacy .list li {
  padding-left: 20px;
}
.privacy .list li ul li {
  padding-left: 10px;
}

.privacy .list > li + li {
  margin-top: 30px;
}


.privacy .table {
  margin-top: 40px;
  width: 400px;
}

.privacy .table table {
  width: 100%;
  border: 1px solid #eee;
}

.privacy .table thead {
 
  background: #f7f7f7;
  border-bottom: 1px solid #eee;
  
}

.privacy .table thead th {
  height: 55px;
  line-height: 55px;
  font-weight: 700;
  border-right: 1px solid #eee;
}

.privacy .table tbody td {
  height: 55px;
  line-height: 55px;
  font-weight: 700;
  text-align: center;
  border-right: 1px solid #eee;
}

.privacy .table thead th:last-child,
.privacy .table tbody td:last-child {
  border-right: 0;
}

.accordian_area {
  /* margin-top:80px; */
  border-top: 1px solid #ccc;
}

.accordian_area:first-child {
 border-top: 0;
}

.accordian_area + .accordian_area {
  margin-top:0;
}

.accordian_area:last-child {
  border-bottom: 1px solid #ccc;
}

.accordian_area .accordian_title {
  position: relative;
  width: 100%;
  height: 70px;
  
  padding-left: 82px;
  cursor: pointer;
  box-sizing: border-box;
  /* background: url('../images/common/icon-plus.png') no-repeat 97% center;
  background-size: 23px; */
}

.accordian_area .accordian_title::after {
  content: "";
  position: absolute;
  left:0;
  bottom:-1px;
  width: 0;
  height: 1px;
  background: #000;
}

.accordian_area .accordian_title .icon {
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  right: 30px;
  margin-top: -10px;
}
.accordian_area .accordian_title .icon::before{
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -1px;
  width: 100%;
  height: 2px;
  background-color: #222;
  font-size: 0;
  transition: transform 0.4s;
}

.accordian_area .accordian_title .icon:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -1px;
  width: 100%;
  height: 2px;
  background-color: #222;
  font-size: 0;
  transition: transform 0.4s;
  transform: rotate(90deg);
}

.accordian_area .accordian_title.on .icon::before{
  transform: rotate(-180deg);
}

.accordian_area .accordian_title.on .icon:after {
  transform: rotate(0deg);
}

.accordian_area .accordian_title:hover::after {
  width: 100%;
  transition: 0.5s;
}

.accordian_area .accordian_title.on {
  /* background: url('../images/common/icon-miner.png') no-repeat 97% center; */
  background-size: 23px;
}

.accordian_area .accordian_title p {
  display: block;
  width: 100%;
  line-height: 70px;
  font-weight: 700;
  text-align: left;
}

.accordian_area .accordian_title::before {
  content: "";
  position: absolute;
  left: 40px;
  top:50%;
  width: 20px;
  height: 21px;
  background: url('../images/common/icon-question.svg') no-repeat;
  background-size: contain;
  transform: translateY(-50%);
}

.accordian_area .answer_area {
  display: none;
  margin-top: -1px;
  padding: 40px 82px;
  background: #f5f5f5 url('../images/common/icon-answer.svg') no-repeat 40px 46px;
  background-size: 19px 16px;
}

.com_select {
  position: relative;
  width: 100%;
  height: 50px;
  z-index: 10;
}
.com_select:after {
  content: "";
  position: absolute;
  bottom:0;
  left:0;
  right: 0;
  border-bottom: 1px solid #000;
}


.com_select.on:after {
  content: "";
  position: absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  width: 100%;
  height: 100%;
  border: 1px solid #059aee;
  z-index: -1;
}

.com_select .title {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  text-align: left;
  background: url('../images/common/icon-select_arrow.svg') no-repeat 95% center;
  cursor: pointer;
}

.com_select .title:focus-visible {
  outline: 1px solid #059aee;
}

.com_select.on .title {
  background: url('../images/common/icon-select_arrow_up.svg') no-repeat 95% center;
}

.com_select.on .title:focus-visible {
  outline: 0;
}

.com_select .select_list {
  display: none;
  position: absolute;
  top:50px;
  left: 0;
  width: 100%;
  z-index: 10;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.com_select .select_list.on {
  display: block;
}

.com_select .select_list li {
  height: 50px;
  padding: 11px 0 11px 20px;
  border-bottom:1px solid #ccc;
  background: #fff;
  color: #000;
  box-sizing: border-box;
  cursor: pointer;
}

.com_select .select_list button {
  width: 100%;
  text-align: left;
}

.com_select .select_list button:focus-visible {
  outline: 1px solid #059aee;
}

.com_select .select_list li:hover {
  background: #059aee;
  color: #fff;
}


.scroll_motion {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s;
}

.scroll_motion.on {
  opacity: 1;
  transform: translateY(0);
}


br.pc {
  display: block!important;
}

br.mobile {
  display: none!important;
}
@media all and (max-width:1920px) {
  header{
    left: auto;
    transform: unset
  }
}

@media all and (max-width:1400px) {

  br.pc {
    display: none;
  }
  
  br.mobile {
    display: block!important;
  }
 

  .content_wrap {
    width: auto;
    padding:90px 30px 0 30px;
  }

  .keyvisual_area .keyvisual_navi {
    right: 5%;
  }

  footer {
    width:auto;
    margin: 0 auto;
    padding:80px 60px;
  }

  footer .accessibility_logo {
    display: none;
  }

  .content_type_menu .menu_list ul li a {
    margin-right: 20px;
  }

  .support .input_wrap.email .txt{
    margin:0!important;
  }
  .layer_wrap .layer_area .img_frame .img_area {
    margin-top: 10px;
  }
}

@media all and (max-width: 1024px) {
  .content_wrap {
    padding: 50px 30px 0 30px;
  }

  .com_select .title {
    background-position: 98% center;
  }
  header {
    left: auto;
    padding:0 30px;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    transform: unset;
  }

  header.up {
    top:-50px;
  }
  header.open {
    height: 50px;
  }
  header.open .gnb_area::after {
    display:none;
  }

  .gnb_area {
    width: 100%;
    height: 100%;
    justify-content: space-between;
  }

  .gnb_area .mobile_btn {
    display: block;
  }

  .gnb_area .menu_area {
    position: fixed;
    right:0;
    top:50px;
    width: 100%;
    background: #fff;
    transform: translateX(100%);
    transition: 0.5s;
    z-index: 100;
  }

  .gnb_area .menu_area.on {
    transform: translateX(0);
  }

  .gnb_area .menu_area>ul {
    padding: 30px;
  }

  .gnb_area .menu_area>ul>li {
    float: none;
    padding:0;
  }

  .gnb_area .menu_area>ul>li> a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
  }

  .gnb_area .menu_area>ul>li.on > .menu_title {
    position: relative;
    color: #004098;
  }

  .gnb_area .menu_area>ul>li.on > .menu_title:after {
    content: "";
    display: block;
    position: absolute;
    top:50%;
    left: auto;
    right: -50px;
    width: 0;
    height: 0;
    border: 15px solid #fff;
    /* border-left: 20px solid transparent; */
    /* border-right: 20px solid transparent; */
    border-top: 15px solid transparent;
    /* border-bottom: 20px solid transparent; */
    transition: none;
    transform: translateY(-50%) rotate(45deg);
    z-index: 1000;
    background: #fff;
  }

  .gnb_area .menu_area>ul>li> a:after {
    display: none;
    bottom: 0;
  }

  .gnb_area .menu_area .sub_menu_list {
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100% - 185px);
    height: 100vh;
    padding: 30px;
    background: #f9f9f9; 
  }


  .gnb_area .menu_area .sub_menu_list li {
    margin-bottom: 20px;
  }
  
  .gnb_area .menu_area .sub_menu_list a {
    font-size: 14px;
    line-height: 1.5714;
  }


  .keyvisual_area .keyvisual_navi {
    display: none;
  }

  .content_type_menu {
    background: #fff;
  }

  .content_type_menu .content_type_area {
    width: 100%;
    max-width: unset;
  }
  
  .content_type_menu .menu_list.introduce,
  .content_type_menu .menu_list.buiness,
  .content_type_menu .menu_list.promotion,
  .content_type_menu .menu_list.recruit {
    padding-left: 0;
  }



  .content_type_menu .menu_list {
    left: 0!important;
    top: auto;
    transform: none;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
  }

  .content_type_menu .mobile_title {
    display: block;
    width: 100%;
    height: 50px;
    padding-left: 30px;
    line-height: 50px;
    font-weight: 700;
    
    background: url('../images/common/icon-arrow.png') no-repeat 100px;
    background-size: 10px 5px;
    font-size: 16px;
  }

  .content_type_menu .mobile_title.on {
    background: url('../images/common/icon-arrow_up.png') no-repeat 100px;
    background-size: 10px 5px;
  }

  .content_type_menu .promotion .mobile_title {
    background-position: 150px center ;
  }

  .content_type_menu .menu_list ul {
    display: none;
    padding-top: 30px;
    padding-left: 30px;

  }

  .content_type_menu .menu_list ul.on {
    display: block;
    height: 100vh;
  }

  .content_type_menu .menu_list ul li {
    float: none;
    margin: 20px 0;
  }

  .content_type_menu .menu_list ul li:first-child {
    margin: 0;
  }

  .content_type_menu .menu_list ul li a {
    color: #000;
  }
  .content_type_menu .menu_list ul li a.on {
    color: #004098;
    text-decoration: underline;
  }

  .content_type_menu.plus {
    top:50px;
  }

  footer .top_area {
    display: block;
  }

  footer .footer_logo img {
   display: block; 
  }

  footer .link_area {
    margin-top:10px;
  }

  .pagingArea {
    display: none;
  }

  .accordian_area {
    margin-top: 0;
  }
  .tab_area .view {
    margin-top: 30px;
  }
  .accordian_area .accordian_title {
    padding:20px 30px 20px 25px;
    height: auto;
  }
  .accordian_area .accordian_title p {
    font-size: 14px;
    line-height: 1.57;
  }
  .accordian_area .accordian_title::before {
    top: 23px;
    left: 5px;
    width: 14px;
    height: 14px;
    transform: none;
  }
  .accordian_area .accordian_title .icon {
    right:0;
  }
  .tab_area .tab_list button, .tab_area .tab_list a {
    font-size: 16px;
  }
  .tab_area .tab_list button, 
  .tab_area .tab_list a {
    padding: 0 10px;
  }

  .tab_area .tab_list button:first-child, 
  .tab_area .tab_list a:first-child{
    padding: 0 10px 0 0;
  }
  .tab_area .tab_list button::after, 
  .tab_area .tab_list a::after {
    height: 13px;
  }
  .accordian_area .answer_area {
    padding:20px 40px;
    background-position: 13px 25px;
    background-size: 14px 12px;
  } 

  .accordian_area .answer_area p {
    font-size: 14px;
    line-height: 1.5714;
  }

  .wrap .com_button {
    width: 180px!important;
    height: 45px;
    line-height: 45px;
    font-size: 14px;
  }
  .scroll_motion.on .tab_list {
    padding: 10px 0;
  }

  .scroll_motion.on .tab_list.plus {
    top:96px
  }
  .detail_content img {
    width: 100%!important;
  }
  .detail_area .info_detail .category {
    font-size: 14px;
    line-height: 1.5714;
  }
  .detail_area .info_detail .detail_title {
    margin-top: 10px;
    font-size: 18px;
  }
  .detail_area .info_detail .date {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.5714;
  }
  .detail_area .detail_content {
    padding-bottom: 40px;
  }
  .detail_area .detail_content p {
    font-size: 14px;
    line-height: 1.5714;
  }
  .detail_area .detail_content a {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.5714;
  }
  .detail_area .paging_bar {
    margin-top: 30px;
  }
  .detail_area .paging_bar a {
    font-size: 14px;
    line-height: 1.5714;
  }
  .keyvisual_area {
    margin: 50px auto 0;
    height: 300px;
  }
  .gnb_area .logo {
    width: 100px;
    height: 30px;
  }
  .layer_wrap .layer_area {
    width: 95%;
    box-sizing: border-box;
  }
  .layer_wrap .layer_area {
    padding: 30px 20px;
  }
  .layer_wrap .layer_area .top_area {
    top:-30px;
    padding: 30px 0;
    margin: -30px -30px 0 -30px;
  }
  .layer_wrap .layer_area .top_area span {
    font-size: 18px;
  }
  .layer_wrap .layer_area .top_area button {
    top:30px;
    width: 15px;
    height: 15px;
  }
  .layer_wrap .layer_area .img_frame {
    margin-top: 30px;
  }
  .layer_wrap .layer_area .img_frame .title {
    font-size: 16px;
  }
  .layer_wrap .layer_area .content_area p {
    font-size: 14px;
    line-height: 1.5714;
  }

  .com_select.on {
    border-bottom: 0;
  }

}


@media all and (max-width : 766px) {
  section {
    padding-bottom: 100px;
  }

  .privacy_wrap {
    padding-top: 0;
  }

  .com_select .select_list li {
    padding: 0 0 0 20px;
    height: 45px;
    line-height: 45px;
    font-size: 14px;
  }

  .com_select .title {
    font-size: 14px;
    line-height: 1.5714;
  }

.keyvisual_area {
    height: 150px;
  }

  .keyvisual_area h2 {
    font-size: 23px;
  }

  .keyvisual_area .sub_title {
    display: none;
  }

  footer {
    padding:40px 30px;
  }

  footer .footer_logo {
    width: 140px;
    height: 45px;
  }

  footer .link_area {
    position: relative;
    display: block;
    margin-top: 20px;
  }

  footer .link_area:after {
    content: "";
    clear: both;
    display: block;
  }

  footer .link_area li {
    position: relative;
    float: left;
    margin: 0!important;
    padding: 0 10px;
  }

  footer .link_area li:after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 1px;
    height: 12px;
    background: #666;
    transform: translateY(-50%);
  }
  footer .link_area li:first-child  {
    padding:0;
    padding-right:10px;
  }

  footer .link_area li:nth-child(3) {
    clear: both;
    padding-left: 0;
  }

  footer .link_area li:first-child:after,
  footer .link_area li:nth-child(3):after {
    display: none;
  }

  footer .link_area li a, 
  footer .bottom_area p span,
  footer .bottom_area p,
  footer .info_area .info_text {
    font-size: 13px;
  }

  footer .bottom_area p > span:first-child {
    display: block;
    font-weight: 700;
  }

  footer .bottom_area .mb_none {
    display: none;
  }

  footer .info_area {
    position: relative;
    margin-top: 20px;
  }
  footer .info_area:after{
    display: block;
    clear: both;
    content: "";
  }

  footer .info_area .info_text {
    float: left;
  }
  
  footer .info_area .info_text:nth-child(2),
  footer .info_area .info_text:nth-child(4){
    clear: both;
    padding-left:0;
  }

  footer .info_area .info_text:nth-child(2):after,
  footer .info_area .info_text:nth-child(4):after {
    display: none;
  }

  footer .accessibility_area {
    display: none;
  }

  footer .copyright {
    margin-top: 20px;
  }

  .privacy .right_select .com_select ul {
    top:52px
  }

  .privacy .keyvisual_area {
    background: url("../images/common/mobile_keyvisual_privacy.jpg") no-repeat center;
    background-size: cover;
  }

  .privacy .right_select {
    position: relative;
    width: 100%;
    margin: 0;
    border-bottom: 0;
  }
  .privacy .right_select .com_select {
    font-size: 14px;
    line-height: 1.5714;
  }
  .privacy .text_wrap  {
    margin-top: 50px;
  }

  .privacy .text_wrap .text_area p,
  .privacy .list li {
    font-size: 14px;
    line-height: 1.5714;
  }
  .privacy .list li {
    padding-left: 10px;
  }

  .privacy .list > li + li {
    margin-top: 15px;
  }
  .privacy .text_wrap .text_area + .text_area {
    margin-top: 40px;
  }
  .privacy .text_wrap .text_area .title {
    font-size: 16px;
    line-height: 1.375;
  }
  .privacy .table {
    width: 100%;
  }

  .privacy .table thead th,
  .privacy .table tbody td {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
  }
  .privacy .text_wrap .text_area .title {
    margin-bottom: 10px;
  }
  .privacy .text_wrap .text_area p + p {
    margin-top: 10px;
  }

  .sitemap .keyvisual_area {
    background: url('../images/common/mobile_keyvisual_sitemap.jpg') no-repeat center;
    background-size: cover;
  }

  .sitemap .link_sitemap {
    position: relative;
    display: block;
    margin-top: 40px;
    padding-top: 40px;
  }
  
  .sitemap .menu_list {
    position: relative;
    display: flex;
    align-items: baseline;
  }
  .sitemap .link_sitemap ul li {
    margin-top: 18px;
  }

  .sitemap .menu_list + .menu_list {
    margin-top: 50px;
  }

  .sitemap .menu_list:after {
    display: block;
    clear: both;
    content: "";
  }

  .sitemap p.title {
    font-size: 19px;
    line-height: 1.3;
  }

  .sitemap .link_sitemap .title {
    float: left;
    width: 140px;
    padding-bottom: 0;
    border-bottom: 0;
    font-size: 16px;
    line-height: initial;
  }

  .sitemap .link_sitemap ul {
    float: left;
  }

  .sitemap .link_sitemap ul li:first-child {
    margin-top:0;
  }

  .sitemap .link_sitemap ul li a {
    font-size: 14px;
    line-height: 1.5714;
  }

  #top {
    width: 35px;
    height: 35px;
  }
  .layer_wrap .layer_area .com_button {
    margin-top: 20px;
  }

  .layer_wrap .layer_area .normal_text {
    width: 100%;
    font-size: 16px;
    line-height: 1.57;
  }

  .com_select .title {
    background: url(../images/common/icon-arrow.png) no-repeat 97% center;
    background-size: 10px 5px;
  }
  .com_select.on .title {
    background: url(../images/common/icon-arrow_up.png) no-repeat 97% center;
    background-size: 10px 5px;
  }

  .accordian_area .accordian_title:hover::after {
    display: none;
  }
}