.section {
  height: 100vh;
}

.main {
  position: relative;
  padding-bottom: 0;
}

.main .text_bg a,
.main .text_area a{
  overflow: hidden;
  position: relative;
  display: inline-block;
  height: 60px;
  padding: 0 40px 0 70px;
  margin-top: 100px;
  line-height: 60px;
  border-radius: 60px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
  color: #fff;
}

.main .text_bg a::before,
.main .text_area a::before {
  content: "";
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  background: #fff;
  transform: translateX(-150px);
  transition: all 0.4s;
}


.main .text_bg a::before {
  z-index: 0;
}

.main .text_bg a::after,
.main .text_area a::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  box-sizing: border-box;
  content: "";
  transition: all 0.4s;
}
.main .text_bg a:hover,
.main .text_area a:hover{
  color: #fff;
}
.main .text_bg a:hover::before,
.main .text_area a:hover::before {
  transform: translateX(0%);
}

/* 첫번째 영역 */


.first_area {
  position: relative;
  height: 920px;
  overflow: hidden;
}

.first_area .bg_area {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.first_area .bg_area p {
  opacity: 0;
  transition: all 0.1s;
  position: absolute;
  left: 0;
  width: 250px;
  height: 100%;
  background: #fff;
}

.first_area .line {
  opacity: 0;
  position: absolute;
  top: auto;
  bottom: calc(880px - 75%);
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
  transition: all 0.5s;
}

.first_area .swiper-slide {
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
}

.first_area .swiper-slide::before {
  content: '';
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  background: #fff;
  transition: 1s;
  opacity: 0;
  z-index: 10;
}
.first_area .swiper-slide::after {
  content: '';
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  background: #fff;
  transition: 1s;
  opacity: 0;
}

.first_area .swiper-slide.on::before {
  animation: mainWidthDiraction;
  animation-delay: 1s;
  animation-duration: 2s;
  opacity: 1;
}

.first_area .swiper-slide.on::after {
  animation: mainWidthDiraction;
  animation-delay: 1s;
  animation-duration: 3s;
  opacity: 1;
}

/* .first_area .swiper-slide.one {
  background: url('../images/main/main-first-section-bg_01.jpg') no-repeat;
  background-size: cover;
}
.first_area .swiper-slide.two {
  background: url('../images/main/main-first-section-bg_02.jpg') no-repeat;
  background-size: cover;
} */

.first_area .swiper-slide .main_text {
  position: absolute;
  left: 285px;
  top: 300px;
  z-index: 10;
  opacity: 0;
}

.first_area .swiper-slide.swiper-slide-active .main_text {
  opacity: 1;
  transition: 0.5s;
}

.first_area .swiper-slide .main_text p {
  display: block;
  line-height: 1.4;
  font-size: 56px;
  font-weight: 700;
  color: #fff;
}

.first_area .swiper-slide .img_area {
  overflow: hidden;
}
.first_area .swiper-slide .img_area img {
  width: 100%;
  height: 920px;
}
.first_area .swiper-slide .img_area img.mobile,
.first_area .swiper-slide .img_area img.tablet {
  display: none;
}



.first_area .swiper-slide.swiper-slide-active .img_area {
  -webkit-animation: zoomin 2.5s ease-in;
  animation: zoomin 2.5s ease-in;
  -webkit-transition: all 2.5s ease-in;
  transition: all 2.5s ease-in;
}

.first_swiper .swiper-slide.on .main_text p:first-child {
  -webkit-animation:textUp 1.2s ease-in;
  animation:textUp 1.2s ease-in;
  -webkit-transition:all 1.2s ease-in;
  transition:all 1.2s ease-in;
}

.first_swiper .swiper-slide.on .main_text p:nth-child(2) {
  -webkit-animation:textUp 1.5s ease-in;
  animation:textUp 1.5s ease-in;
  -webkit-transition:all 1.2s ease-in;
  transition:all 1.2s ease-in;
}

.first_swiper .swiper-slide.on .main_text p:nth-child(3){
  -webkit-animation:textUp 1.8s ease-in;
  animation:textUp 1.8s ease-in;
  -webkit-transition:all 1.8s ease-in;
  transition:all 1.8s ease-in;
}

.first_swiper.on .line {
  opacity: 1;
  animation: leftDiraction 3.8s;
}

.first_swiper.on .swiper-pagination {
  opacity: 1;
  animation: opacity 4s;
  transition: all 0.5s;
}

.first_swiper.on .button_area {
  opacity: 1;
  animation: opacity 4.2s;
  transition: all 0.5s;
}

.first_area .swiper-pagination {
  opacity: 0;
  position: absolute;
  width: auto;
  bottom: calc(880px - 75%);
  left: 15%;
  text-align: left;
}

.first_area .swiper-pagination .swiper-pagination-bullet {
  width: 120px;
  height: 4px;
  border-radius: unset;
  background: #fff;
  opacity: 1;
  margin: 0;
}

.first_area .swiper-pagination .swiper-pagination-bullet-active {
  background: #00a6ec;
}

.first_area .swiper-pagination .swiper-pagination-bullet>span {
  display: block;
  margin-top: -40px;
  font-weight: 700;
  color: #fff;
}

.first_area .button_area {
  opacity: 0;
  position: absolute;
  bottom: calc(880px - 74%);
  right: 260px;
  width: 165px;
  z-index: 10;
}

.first_area .button_area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.first_area .swiper-button-next,
.first_area .swiper-button-prev {
  position: static;
  bottom: 0;
  right: 0;
  left: 0;
  top: auto;
  margin-top: 0;
  opacity: 1;
}

.first_area .swiper-button-next,
.first_area .swiper-button-prev,
.first_area button {
  width: 50px;
  height: 50px;
}

.first_area button {
  text-indent: -9999px;
}

.first_area .swiper-button-next:after,
.first_area .swiper-button-prev:after {
  display: none
}

.first_area .swiper-button-prev {
  background: url('../images/main/icon-main-arrow-left.svg') no-repeat center;
   
}

.first_area .swiper-button-next {
  background: url('../images/main/icon-main-arrow-right.svg') no-repeat center;
   
}

.first_area .stop {
  background: url('../images/main/icon-main-arrow-purse.svg') no-repeat center;
  text-indent: -9999px;
}

.first_area .start {
  background: url('../images/main/icon-main-arrow-play.svg') no-repeat center;
}

.second_area {
  position: relative;
}


.pagnation {
  display: none;
  position: fixed;
  top: 60%;
  left: 0;
  z-index: 10;
  transform: translateY(-50%);
}


.pagnation ul li {
  width: 30px;
  height: 4px;
  margin-bottom: 200px;
  background: #fff;
  transition: all 0.5s;
}

.pagnation ul li.on {
  width: 80px;
  height: 6px;
  transition: all 0.5s;
}

.fix_motion {
  overflow: hidden;
}

.fix_motion .fix_wrap {
  position: relative;
}

.fix_motion .fix_wrap:after {
  clear: both;
  display: block;
  content: '';
}

.fix_motion.blue {
  background: #059aee;
  transition: 0.5s;
}

.fix_motion.orange {
  background: #f2622e;
  transition: 0.5s;
}

.fix_motion.purple {
  background: #8C55d9;
  transition: 0.5s;
}

.fix_motion.green {
  background: #26a677;
  transition: 0.5s;
}

.fix_motion .text_box {
  float: left;
  width: 50%; 
}

.fix_motion .text_box .text_bg {
  opacity: 0;
}

.fix_motion .text_box .text_bg.opacity {
  opacity: 1!important;
}

.fix_motion .text_box .text_bg.one.active {
  opacity: 1!important;
}

.fix_motion .text_box .text_bg.active {
  opacity: 1;
  transition: 0.5s;
}

.fix_motion .image_area {
  position: absolute;
  right:0;
  width: auto;
}

.fix_motion .image_area .image + .image {
  margin-top: -7px;
}

.fix_motion .image_area img {
  width: 100%;
  max-width: 960px;
}


.second_area .text_bg {
  padding-top: 300px;
  padding-left: 15%;
}

.second_area .text_bg + .text_bg {
  margin-top: 300px;
}

.second_area .text_bg:last-child {
  padding-bottom: 330px;
}

.second_area .text_bg span {
  display: block
}

.second_area .text_bg .content_btn {
  position: relative;
  line-height: 60px;
  border-radius: 60px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
  color: #fff;
  z-index: 10;

}

.second_area .text_bg .title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  color: #fff;
}

.second_area .main_title {
  margin-top: 100px;
  font-size: 40px;
  line-height: 1.3;
  font-weight: 700;
  color: #fff;
}

.second_area p {
  margin-top: 40px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
}

.second_area .text_bg.one .content_btn:hover {
  color: #059aee ;
}

.second_area .text_bg.two .content_btn:hover {
  color: #f2622e ;
}
.second_area .text_bg.three .content_btn:hover {
  color: #8C55d9 ;
}

.second_area .text_bg.four .content_btn:hover {
  color: #26a677 ;
}

.second_area .text_bg.one a:after {
  background: url('../images/main/icon-it-arrow.png') no-repeat 12% center;
  background-size: 13px;
}

.second_area .text_bg.two a::after {
  background: url('../images/main/icon-supply-arrow.png') no-repeat 12% center;
  background-size: 13px;
}

.second_area .text_bg.three a::after {
  background: url('../images/main/icon-service-arrow.png') no-repeat 12% center;
  background-size: 13px;
}

.second_area .text_bg.four a::after {
  background: url('../images/main/icon-health-arrow.png') no-repeat 12% center;
  background-size: 13px;
}

.second_area .right_area {
  width: 50%;
}

.second_area .fix_motion .image_mobile {
  display: none;
}

.right_area {
  position: absolute;
  right:0;
  top:0;
  height: 100%;
}

.thrid_area {
  overflow: hidden;
  position: relative;
  height: 800px;
  padding: 140px 15% 160px;
  margin: 0 auto;
  background: #fff;
  box-sizing: border-box;
  z-index: 100;
}

.thrid_area .line {
  position: absolute;
  left: 0;
  top: 285px;
  width: 100%;
  height: 2px;
  background: #eee;
  z-index: 0;
  transition: 2s;
}

.thrid_area .text_swiper {
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.thrid_area .text_swiper .text_area.swiper-slide {
  position: relative;
  opacity: 0!important;
  transition: all 0.5s;
}

.thrid_area .text_swiper .text_area.swiper-slide::after {
  display: block;
  clear: both;
  content: "";
}

.thrid_area .text_swiper .text_area.swiper-slide .left_area {
  position: relative;
  float: left;
  width: 45%;
  height: 508px;
}


.thrid_area .text_swiper .text_area.swiper-slide.swiper-slide-active {
  opacity: 1!important;

}

.thrid_area .text_area .main_title {
  overflow: hidden;
  margin-bottom: 80px;
  font-size: 40px;
  line-height: 1.3;
  font-weight: 700;
  color: #000;
}

.thrid_area .text_area .normal {
  height: 80px;
  font-size: 20px;
  line-height: 1.6;
  font-weight: 400;
}

.thrid_area .image_swiper {
  overflow: hidden;
  float: right;
  width: 50%;
}

.thrid_area .image_swiper img {
  margin-left: 120px;
}

.thrid_area .right_area {
  position: static;
  float: right;
}

.thrid_area .swiper-button-next,
.thrid_area .swiper-button-prev {
  position: static;
  bottom: 0;
  right: 0;
  left: 0;
  top: auto;
  margin-top: 0;
  opacity: 1;
}

.thrid_area .swiper-button-next,
.thrid_area .swiper-button-prev,
.thrid_area button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.thrid_area button {
  text-indent: -9999px;
}

.thrid_area .swiper-button-next:after,
.thrid_area .swiper-button-prev:after {
  display: none
}

.thrid_area .swiper-button-prev {
  background: url('../images/main/icon-swiper-arrow-left.svg') no-repeat center;
  background-size: cover;
   
}

.thrid_area .swiper-button-next {
  background: url('../images/main/icon-swiper-arrow-right.svg') no-repeat center;
  background-size: cover;
   
}

.thrid_area .stop {
  background: url('../images/main/icon-swiper-arrow-purse.svg') no-repeat center;
  background-size: cover;
  text-indent: -9999px;
  z-index: 10;
}

.thrid_area .start {
  background: url('../images/main/icon-swiper-arrow-play.svg') no-repeat center;
  background-size: cover;
  text-indent: -9999px;
}

.thrid_area .button_area {
  position: absolute;
  left:37%;
  bottom:0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 215px;
  z-index: 10;
  transform: translateX(-50%);
}

.thrid_area .swiper-pagination {
  position: static;
  text-align: center;
  width: 46px;
  font-weight: 700;
}

.thrid_area .swiper-pagination span {
  display: inline-block;
  margin: 0 -4px;
  font-weight: 700;
}

.thrid_area .swiper-pagination span:first-child {
  margin: 0 -3px 0 0;
}

.thrid_area.on .text_area {
  overflow: hidden;
}

.thrid_area.on .text_area .main_title {
  animation: leftDiraction 1.5s;
}

.thrid_area.on .text_area .normal {
  animation: leftDiraction 3s;
}

.thrid_area.on .line {  
  animation: leftDiraction 2.5s;
}

.thrid_area.on .button_area {
  animation: opacity 3.5s;
}

.thrid_area .image_swiper { 
  animation: opacity 4s;
}

.thrid_area .btn_area {
  position: absolute;
  bottom:0;
  display: inline-block;
}

.thrid_area .third_area_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: -1;
}


.thrid_area .btn_area a {
  overflow: hidden;
  position: relative;
  display: inline-block;
  height: 50px;
  margin-top: 0;
  padding: 0 40px 0 70px;
  line-height: 50px;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
  color: #0048ab;
}

.thrid_area .btn_area a::before {
  content: "";
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  background: #0048ab;
  transform: translateX(-213px);
  transition: all 0.4s;
}

.thrid_area .btn_area.other a::before {
  transform: translateX(-178px);
}
.thrid_area .btn_area.other a::after {
  background-position: 8% center;
}

.thrid_area .btn_area a::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  box-sizing: border-box;
  content: "";
  transition: all 0.4s;
  background: url('../images/main/icon-main-arrow-right.png') no-repeat 8% center;
  background-size: 12px;
}

.thrid_area .btn_area a:hover {
  color: #fff;
  z-index: 0;
}

.thrid_area .btn_area a:hover::before,
.thrid_area .btn_area.other a:hover::before {
  transform: translateX(0%);
  z-index: -1;
}

.forth_area {
  overflow: hidden;
  position: relative;
  height: 963px;
  padding: 140px 0 0 260px;
  background: #f5f5f5;
  z-index: 100;
}

/* .forth_area .line {
  position: absolute;
  left: 0;
  top: calc(100% - 61%);
  width: 100%;
  height: 2px;
  background: #ccc;
  z-index: 0;
} */

.forth_area .main_title {
  font-size: 40px;
  line-height: 1.5;
  font-weight: 700;
  color: #000;
}

.forth_area .news_link {
  position: relative;
  display: inline-block;
  margin-top: 40px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
}

.forth_area .news_link:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom:0;
  background: #000;
  
}

.forth_area .swiper_warp {
  padding-top: 60px;
}

.forth_area .swiper_warp .siwper_content {
  display: block;
  padding-top: 58px;
}

.forth_area .swiper_warp .siwper_content p {
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
}

.forth_area .swiper_warp .siwper_content span {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

.forth_area .swiper-button-next,
.forth_area .swiper-button-prev {
  position: static;
  bottom: 0;
  right: 0;
  left: 0;
  top: auto;
  margin-top: 0;
  opacity: 1;
}

.forth_area .swiper-button-next,
.forth_area .swiper-button-prev,
.forth_area button {
  width: 50px;
  height: 50px;
}

.forth_area button {
  text-indent: -9999px;
}

.forth_area .swiper-button-next:after,
.forth_area .swiper-button-prev:after {
  display: none
}

.forth_area .swiper-button-prev {
  background: url('../images/main/icon-swiper-arrow-left.svg') no-repeat center;
  background-size: cover;
   
}

.forth_area .swiper-button-next {
  background: url('../images/main/icon-swiper-arrow-right.svg') no-repeat center;
  background-size: cover;
   
}

.forth_area .stop {
  background: url('../images/main/icon-swiper-arrow-purse.svg') no-repeat center;
  background-size: cover;
  text-indent: -9999px;
}

.forth_area .start {
  background: url('../images/main/icon-swiper-arrow-play.svg') no-repeat center;
  background-size: cover;
  text-indent: -9999px;
}

.forth_area .swiper-area {
  position: relative;
  padding-top: 100px;
}

.forth_area .swiper-wrapper::before {
  content: "";
  top:0;
  left: -1000px;
  right: 0;
  position: absolute;
  width: 100000px;
  height: 1px;
  background: #ccc;
}

.forth_area .button_area {
  position: absolute;
  top: 35px;
  right: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 215px;
  line-height: 50px;
}

.forth_area .swiper-pagination {
  position: absolute;
  top:100px;
  left:0;
  width: 100%;
  height: 1px;
  max-width: 1400px;
}
.forth_area .swiper-pagination-progressbar {
  background: #ccc;
}
.forth_area  .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  height: 2px;
  background: #004098;
  transition: 0.5s;
}

.forth_area .swiper-pagination span {
  display: inline-block;
  margin: 0 -4px;
  font-weight: 700;
}

.forth_area .swiper-pagination span:first-child {
  margin: 0 -3px 0 0;
}

.forth_area .swiper_warp p {
  overflow: hidden;
  width: 95%;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 700;
}

.forth_area .swiper_warp span {
  display: block;
  margin-top: 10px;
  color: #666;
}

.forth_area .swiper_warp .img_area {
  margin-top: 20px;
}

.forth_area .swiper_warp .img_area img {
  width: 100%;
}

.forth_area .swiper_warp::before {
  content: "";
  position: absolute;
  top:0;
  left:50%;
  width: 0;
  height: 2px;
  background: #0048ab;
  transition: all 0.5s;
  transform: translateX(-50%);
}


.forth_area .swiper-slide-active p {
  color: #0048ab;
}

.forth_area.on .main_title {
  animation: leftDiraction 1.5s;
}
.forth_area.on .news_link {
  animation: leftDiraction 2.5s;
}

.forth_area.on .line {
  animation: leftDiraction 3.5s;
}

.forth_area.on .button_area {
  animation: opacity  3.5s;
}

.forth_area.on .swiper-area {
  animation: opacity  4s;
}

.last_area {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 340px;
  background: #0048ab;
  z-index: 100;
}

.last_area p {
  display: inline-block;
  margin-right: 92px;
  line-height: 1.2;
  font-size: 40px;
  color: #fff;
  font-weight: 700;
  vertical-align: middle;
}

.last_area .btn_area  {
  display: inline-block;
  vertical-align: middle;
}

.last_area .btn_area a {
  overflow: hidden;
  position: relative;
  display: inline-block;
  height: 50px;
  padding: 0 40px 0 70px;
  line-height: 50px;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
  color: #fff;
}
.last_area .btn_area a::before {
  content: "";
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background: #fff;
  transform: translateX(-183px);
  transition: all 0.4s;
  z-index: -1;
}
.last_area .btn_area a:hover:nth-child(2):before,
.last_area .btn_area a:hover::before {
  transform: translateX(0);
}

.last_area .btn_area a:nth-child(2) {
  margin-left: 100px;
}

.last_area .btn_area a:nth-child(2):before {
  content: "";
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  background: #fff;
  transform: translateX(-160px);
  transition: all 0.4s;
}

.last_area .btn_area a::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  box-sizing: border-box;
  content: "";
  transition: all 0.4s;
  background: url('../images/main/icon-link-arrow.png') no-repeat 9% center;
  background-size: 12px;
}

.last_area .btn_area a:hover {
  color: #0048ab;
  z-index: 0;
}




/* 마우스 호버 */

.main .button_area .swiper-button-prev:hover {
  background: url('../images/main/icon-swiper-arrow-left_active.svg') no-repeat center;
  background-size: cover;
   
}

.main .button_area button:hover {
  background: url('../images/main/icon-swiper-arrow-purse_active.svg') no-repeat center;
  background-size: cover;
}


.main .button_area button.start:hover {
  background: url('../images/main/icon-swiper-arrow-purse_play.svg') no-repeat center;
  background-size: cover;
}

.main .button_area .swiper-button-next:hover {
  background: url('../images/main/icon-swiper-arrow-right_active.svg') no-repeat center;
  background-size: cover;
}

/* 애니메이션 */

@keyframes mainWidthDiraction {
  0%{
    width: 110%;
    opacity: 0;
    visibility: hidden;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
    visibility: visible;
  }
  
}

@keyframes leftDiraction {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes zoomin{
  0%{
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
  }
  100%{
    -webkit-transform:scale(1);
    transform:scale(1) rotate(.001deg);
  }
}

@keyframes textUp{
  0%{
    -webkit-transform:translateY(150px);
    transform: translateY(150px);
    visibility: hidden;
    opacity: 0;
  }
  100%{
    -webkit-transform:translateY(0);
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
    
  }
}

@media all and (max-width: 1600px) {
  .thrid_area {
    padding: 140px 10% 160px;
  }

  .fix_motion .image_area {
    width: auto;
  }

  .fix_motion .image_area img {
    max-width: 750px;
  }

  .second_area .text_bg {
    padding-top: 125px;
  }
  .second_area .text_bg:last-child{
    padding-bottom: 270px;
  }

}

@media all and (max-width:1400px) {
  .main .text_area a {
    margin-top: 80px;
    font-size: 18px;
  }
  .main .text_area a::before {
    transform: translateX(-140px);
  }

  .first_area .swiper-slide .main_text {
    left: 10%;
  }

  .first_area .swiper-slide .main_text p {
    font-size: 46px;
  }
  .second_area .text_bg .title {
    font-size: 18px;
  }
  .second_area .main_title {
    margin-top: 80px;
    font-size: 36px;
  }
  .second_area p {
    margin-top: 36px;
    font-size: 20px;
  }

  .second_area .text_bg{
    padding-left: 10%;
  }

  .thrid_area .text_swiper .text_area.swiper-slide .left_area {
    height: 400px;
  }

  .thrid_area  .right_area .img_area img{
    width: 100%;
  }

  .thrid_area .right_area {
    width: 45%;
  }

  .thrid_area .button_area {
    bottom: 35px;
  }

  .thrid_area .btn_area a {
    margin-top: 0;
  }
  .thrid_area .btn_area a::before {
    transform: translateX(-200px);
  }

  .thrid_area .btn_area.other a::before{
    transform: translateX(-165px); 
  }
 
  .last_area {
    padding: 0 30px;
    box-sizing: border-box;
  }
  .last_area p {
    font-size: 36px;
  } 
  .last_area .btn_area a:nth-child(2) {
    margin-left: 20px;
  }

}

@media all and (max-width:1300px) {
  .thrid_area .button_area {
    bottom: 10px;
  }

  .fix_motion .image_area.pc {
    display: none;
  }

  .second_area .fix_motion .image_mobile {
    display: block;
  }

  .fix_motion .text_box {
    float: none;
    width: 100%;
  }

  .fix_motion .image_mobile img {
    width: 100%;
  }

  .second_area .text_bg {
    padding:70px 100px 70px;
  }

  .second_area .text_bg:last-child{
    padding-bottom: 70px;
  }

}

@media all and (max-width:1200px) {

  .second_area .right_area {
    position: static;
    width: 100%;
    height: 50%;
  }

  .second_area .right_area img {
    width: 100%;
    height: 100%;
  }

  .second_area .text_area {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  .second_area .main_title {
    margin-top: 0;
    font-size: 23px;
    line-height: 1.13;
  }
  .second_area .text_bg .title {
    display: none;
  }

  .second_area .text_bg {
    padding:70px 30px 70px;
  } 
  .second_area p {
    margin-top: 30px;
    font-size: 16px;
  }

  .main .text_area a {
    height: 25px;
    padding: 10px 50px;
    line-height: 25px;
    border-radius: 25px;
    z-index: 10;
    margin-top: 85px;
  }

  .second_area .text_bg .content_btn {
    font-size: 14px;
    line-height: 40px;
    margin-left: -20px;
   
  }

  .main .text_bg a {
    height: 40px;
    line-height: 40px;
  }

  .main .text_bg a::before,
  .main .text_area a::after {
    border-radius: 40px;
  }

  .main .text_bg a::before {
    transform: translateX(0);
  }

  .second_area .text_bg.one a::before,
  .second_area .text_bg.two a::before,
  .second_area .text_bg.three a::before,
  .second_area .text_bg.four a::before {
    display: none;
  }

  .second_area .text_bg.one a:after,
  .second_area .text_bg.two a:after,
  .second_area .text_bg.three a:after,
  .second_area .text_bg.four a:after {
    background-size: 10px;
    background-position: 10.5%;
  }

  .second_area .text_bg.one a,
  .second_area .text_bg.two a,
  .second_area .text_bg.three a, 
  .second_area .text_bg.four a {
    background: #fff;
  }

  .second_area .text_bg.one .content_btn {
    color: #059aee;
  }
  .second_area .text_bg.two .content_btn{
    color: #f2622e;
  }
  .second_area .text_bg.three .content_btn{
    color: #8C55d9;
  }
  .second_area .text_bg.four .content_btn{
    color: #26a677;
  }
  

  .thrid_area {
    height: auto;
    padding: 70px 30px 140px;
  }

  .thrid_area .line {
    top:140px;
    height: 1px;
  }
  .thrid_area .text_swiper {
    overflow: visible;
    padding-bottom: 50px;
  }

  .thrid_area .text_swiper, 
  .thrid_area .image_swiper {
    float: none;
    width: 100%;
  }

  .thrid_area .image_swiper {
    max-width: 630px;
    max-height: 340px;
    height: 100%;
    margin:30px auto 0;
  }

  .thrid_area .text_area .main_title {
    margin-bottom: 30px;
    font-size: 23px;
    line-height: 1.26;
  }
  .thrid_area .text_area .normal {
    height: auto;
    font-size: 14px;
    line-height: 1.35;
  }
  .thrid_area .btn_area {
    margin-top: 0;
  }
  .thrid_area .button_area {
    width: 125px;
    bottom: -58px;
    left: 50%;
    transform: translateX(-50%);
  }
  .thrid_area .swiper-pagination {
    position: absolute;
    top:43%;
    left:50%;
    bottom: 0;
    transform: translate(-50%, -50%);
  }

  .thrid_area .button_area .stop {
    display: none;
  }

  .thrid_area .swiper-button-next, 
  .thrid_area .swiper-button-prev, 
  .thrid_area button {
    width: 40px;
    height: 40px;
  }
  .thrid_area .btn_area a {
    background: #0048ab;
    font-size: 14px;
    color: #fff;
  }

  .thrid_area .btn_area a::after {
    background-size: 10px;
    background-position: 10%;
  }

  .thrid_area .swiper-pagination span:first-child,
  .thrid_area .swiper-pagination span {
    margin: 0 1px 0 0;
  }

  .thrid_area .swiper-pagination {
    top:43%;
  }

  .thrid_area .swiper-pagination span {
    font-size: 14px;
  }

  .thrid_area .btn_area a::before {
    display: none;
  }

  .forth_area {
    height: auto;
    padding: 60px 30px 140px;
  }

  .forth_area .main_title {
    font-size: 23px;
    line-height: 1.26;
  }

  .forth_area .mobile {
    display: block!important;
  }

  .forth_area .news_link {
    display: none;
  }

  .forth_area .swiper-area {
    width: 100%;
    padding-top: 30px;
  }

  .forth_area .button_area {
    position: relative;
    top: 60px;
    right: 0;
    left: 50%;
    width: 130px;
    transform: translateX(-50%);
  }

  .forth_area .button_area .numbering {
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translateX(-50%);
  }

  .forth_area .button_area .numbering span {
    font-size: 14px;
  }

  .forth_area .stop {
    display: none;
  }

  .forth_area .swiper-button-next, 
  .forth_area .swiper-button-prev, 
  .forth_area button {
    width: 40px;
    height: 40px;
  }

  .forth_area .swiper_warp {
    padding-top: 30px;
  }

  .forth_area .swiper_warp p {
    width: 100%;
    font-size: 16px;
  }

  .forth_area .swiper_warp span {
    font-size: 14px;
  }

  .forth_area .swiper-pagination {
    top:30px;
  }

  .forth_area .swiper_warp .img_area {
    margin-top: 40px;
  }
  

  .last_area {
    display: block;
    text-align: center;
    padding-top: 100px;
  }

  .last_area p {
    display: block;
    margin-right: 0;
  }

  .last_area .btn_area {
    margin-top: 50px;
  }
  .last_area .btn_area a:nth-child(2) {
    margin-left: 0;
  }
  .last_area .btn_area a::after {
    background-size: 10px;
  }

  .last_area .btn_area a:nth-child(2):before {
    transform: translateX(-160px);
  }

  .main .text_area a::before {
    transform: translateX(-100px);
  }
  .thrid_area .btn_area a::before {
    transform: translateX(0);
  }

  .thrid_area .btn_area.other a::before {
    transform: translateX(0);
  }

  .thrid_area .right_area {
    float: none;
    width: 100%;
    margin-top: 30px;
  }

  .thrid_area .text_swiper .text_area.swiper-slide .left_area {
    float: none;
    width: 100%;
    height: auto;
  }

  .thrid_area .left_area {
    padding-bottom: 40px;
  }

  .thrid_area .text_area .normal {
    height: 125px;
  }
}

@media all and (max-width:1024px) {

  .first_area .swiper-slide.one,
  .first_area .swiper-slide.two {
    background-position: center;
  }

  .first_area .swiper-slide.two .img_area img.pc {
    display: none;
  }

  .first_area .swiper-slide .img_area img.tablet{
    display: block;
    padding-top:48px;
  }


}

@media all and (max-width:767px) {
  .pagnation {
    left: auto;
    right: 0;
  }

  .pagnation ul li {
    width: 15px;
    height: 2px;
    margin-bottom: 100px;
    transform: translateX(30%);
    
  }
  .pagnation ul li.on {
    width: 20px;
    height: 3px;
    transform: translateX(0);
  }

  .section {
    height: auto;
  }

  br.mobile {
    display: block!important;
  }

  .first_swiper.on .button_area {
    display: none;
  }

  .first_area .swiper-slide .img_area {
    height: auto;
  }

  .first_area .swiper-slide .img_area img {
    height: auto;
  }

  .first_area .swiper-slide .img_area img.pc,
  .first_area .swiper-slide .img_area img.tablet {
    display: none;
  }

  .first_area .swiper-slide .img_area img.mobile {
    display: block;
  } 


  
  /* .first_area .swiper-slide.one {
    background: url('../images/main/mobile_main-first-section-bg_01.jpg');
    background-size: cover;
  }
  .first_area .swiper-slide.two {
    background: url('../images/main/mobile_main-first-section-bg_02.jpg');
    background-size: cover;
  } */

  .first_area .swiper-slide .main_text p {
    font-size: 30px;
    line-height: 1.36666;
  }
  .first_area .line,
  .first_area .swiper-pagination {
    bottom: 90px;
  }

  .first_area .swiper-pagination .swiper-pagination-bullet {
    width: 54px;
    height: 3px;
  }
  .first_area .swiper-pagination .swiper-pagination-bullet>span {
    margin-top: -30px;
    font-size: 14px;
  }


  .second_area .text_bg {
    margin-left: 0;
    padding: 70px 30px 0 30px;
    box-sizing: border-box;
  }

  .thrid_area .image_swiper {
    /* max-width: 315px;
    max-height: 170px; */
    height: 100%;
    margin:30px auto 0;
  }


  .last_area {
    padding: 60px 77px 40px;
  }
  .last_area p {
    font-size: 18px;
    line-height: 1.33;
  }

  .last_area .btn_area {
    margin-top: 60px;
  }

  .last_area .btn_area a {
    display: block;
    height: 25px;
    padding: 8px 45px 8px 55px;
    line-height: 25px;
    border-radius: 25px;
    z-index: 10;
    font-size: 14px;
  }
  
  .last_area .btn_area a {
    background: #fff;
    color: #0048ab;
  }

  .last_area .btn_area a + a {
    margin-top: 20px;
  }

  .last_area .btn_area a:before {
    display: none;
  }

  .last_area .btn_area a:hover:before {
    transform: translateX(0)!important;
  }
}


@media all and (max-width:500px) {
  .first_area {
    z-index: 100;
  }
 
  .first_area .swiper-slide {
    height: auto;
  }

  .first_area .swiper-slide .main_text {
    top:150px;
    left: 30px;
  }

 
}