/* 오픈핸즈 NEWS */
.promotion .keyvisual_area {
  background: url('../images/promotion/keyvisual_promotion.jpg') no-repeat;
  background-size: cover;
}

.main_news_area {
  overflow: hidden;
  position: relative;
  padding-bottom: 60px;
  height: 400px;
}

.main_news_area .content_area {
  position: relative;
  background-color: #f3f3f3!important;
  background-image: none!important;
  height: 400px;
}

.main_news_area .content_area:after {
  content: '';
  display: block;
  clear: both;
}

.main_news_area .image_area {
  float: left;
  width: 47%;
}

.main_news_area .image_area img {
  width: 100%;
  height: 400px;
  max-height: 400px;
  object-fit: cover;
}

.main_news_area .text_area {
  float: right;
  width: 53%;
  padding: 60px 135px 0 60px;
  box-sizing: border-box;
  background: none;
}

.swiper-button-next, .swiper-button-prev {
  transform: translateY(-50%);
}

.main_news_area .swiper-button-next,
.main_news_area .swiper-button-prev {
  width: 50px;
  height: 50px;
}

.main_news_area .swiper-button-prev {
  left: 20px;
}

.main_news_area .swiper-button-next {
  right: 20px;
}


.main_news_area .swiper-button-next::after,
.main_news_area .swiper-button-prev::after {
  display: none;
}

.main_news_area .swiper-button-prev {
  background: url('../images/common/swier-left-arrow.svg') no-repeat center;
  background-size: contain;
}

.main_news_area .swiper-button-prev:hover {
  background: url('../images/common/swier-left-arrow_active.svg') no-repeat center;
  background-size: contain;
}

.main_news_area .swiper-button-next {
  background: url('../images/common/swier-right-arrow.svg') no-repeat center;
  background-size: contain;
}

.main_news_area .swiper-button-next:hover {
  background: url('../images/common/swier-right-arrow_active.svg') no-repeat center;
  background-size: contain;;
}

.main_news_area .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: none;
  border: 1px solid #000;
}

.main_news_area  .swiper-pagination-bullet-active {
  background: #000;
}

.main_news_area .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, 
.main_news_area .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin:0 10px 0 0;
}

.main_news_area .swiper-horizontal>.swiper-pagination-bullets, 
.main_news_area .swiper-pagination-bullets.swiper-pagination-horizontal, 
.main_news_area .swiper-pagination-custom {
  bottom: -2.5px;
}

.main_news_area button {
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-left: 39px;
  z-index: 100;
  text-indent: -9999px;
}

.main_news_area button.stop {
  background: url('../images/common/swiper-normal_purse.svg') no-repeat;
  background-size: 20px;
}

.main_news_area button.start {
  background: url('../images/common/swiper-normal_play.svg') no-repeat;
  background-size: 20px;
}


.text_area .caution_area span {
  position: relative;
  padding-right: 10px;
}

.text_area .caution_area span:first-child::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 1px;
  height: 14px;
  background: #000;
  transform: translateY(-50%);
}

.text_area .caution_area span:last-child {
  padding-right: 0;
  padding-left: 10px;
  margin-left: -5px;
}

.text_area .title {
  overflow: hidden;
  width: 100%;
  margin-top: 20px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.428;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text_area .normal {
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.text_area .link_area {
  margin-top: 60px;
}

.text_area .link_area a {
  display: inline-block;
  text-decoration: underline;
}

.reault_news_list {
  margin-top: 140px;
}

.reault_news_list .top_area {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

.reault_news_list .top_area .search_area {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reault_news_list .top_area .select_area {
  position: relative;
  width: 120px;
  margin-right: 60px;
}

.reault_news_list .top_area .select_area .com_select {
  height: 51px;
  padding:0;
}

.reault_news_list .top_area .select_area .com_select > button {
  line-height: 50px;
}

.reault_news_list .top_area .select_area .com_select ul {
  top: 53px;
  left: 0;
}


.reault_news_list .top_area .input_area {
  width: 500px;
  height: 50px;
  border-bottom: 1px solid #000;
}

.reault_news_list .top_area .input_area input {
  width: 100%;
  height: 100%;
  padding: 14px 0;
  border:0;
  box-sizing: border-box;
  font-size: initial;
}

.reault_news_list .top_area .search_icon {
  position: absolute;
  right:0;
  top:50%;
  width: 27px;
  height: 27px;
  background: url('../images/common/icon-search.svg') no-repeat top center;
  background-size: cover;
  text-indent: -9999px;
  z-index: 10;
  transform: translateY(-50%);
}


.reault_news_list .list_area {
  position: relative;
  margin-top: 80px;
}

.reault_news_list .list_area .list_box {
  position: relative;
  height: 340px;
}

.reault_news_list .list_area .list_box + .list_box {
  margin-top: 80px;
}

.reault_news_list .list_area .list_box:after {
  display: block;
  clear: both;
  content: "";
}

.reault_news_list .list_area .left_area {
  float: left;
  width: 50%;
  height: 340px;
}

.reault_news_list .list_area .right_area {
  position: relative;
  float: right;
  width: 47%;  
  height: 340px;
  margin-left: 3%;
}

.reault_news_list .list_area .text_area .link_area {
  position: absolute;
  bottom: -5px;
}

.reault_news_list .add_btn {
  margin-top:60px;
  text-align: center;
}

.reault_news_list .add_btn .com_button {
  width: 200px;
  padding: 0;
}

@media all and (max-width:1400px) {

  .text_area .title {
    font-size: 24px;
  }


  .reault_news_list .list_area .left_area img{
    width: 100%;
    height: 100%;
  }
}

@media all and (max-width: 1024px) {
  .main_news_area .image_area {
    display: none;
  }

  .main_news_area .text_area .normal {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .main_news_area button.stop {
    background: url('../images/common/mobile-swiper-normal_purse.svg') no-repeat;
    background-size: 15px;
  }
  
  .main_news_area button.start {
    background: url('../images/common/mobile-swiper-normal_play.svg') no-repeat;
    background-size: 15px;
  }
  

  .reault_news_list {
    margin-top: 50px;
  }
  .text_area .title {
    margin-top: 10px;
    font-size: 16px;
  }
  .text_area .normal {
    margin-top: 5px;
    font-size: 14px;
    line-height: 1.5714;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  .text_area .link_area {
    margin-top: 30px;
  }


  .reault_news_list .list_area {
    margin-top: 40px;
  }

  .reault_news_list .top_area .search_area {
    margin-top: 10px;
  }
  .reault_news_list .top_area .input_area {
    width: calc(100% - 110px);
  }

  .text_area .caution_area span {
    font-size: 14px;
    line-height: 1.5714;
  }
  
  .text_area .link_area a {
    font-size: 15px;
  }
  .reault_news_list .list_area .list_box {
    height: 100%;
  }

  .reault_news_list .list_area .list_box + .list_box {
    margin-top: 40px;
  }
  .reault_news_list .list_area .left_area {
    height: auto;
  }

  .reault_news_list .list_area .right_area {
    height: auto;
  }
  .reault_news_list .list_area .left_area,
  .reault_news_list .list_area .right_area {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0;
  }

  .reault_news_list .list_area .right_area  {
    margin-top: 8px;
  }
  .reault_news_list .list_area .text_area .link_area {
    position: static;
  }

  .reault_news_list .top_area {
    display: block;
  }

  .promotion .keyvisual_area {
    background: url('../images/promotion/mobile_keyvisual_promotion.jpg') no-repeat;
    background-size: cover;
  }

  .main_news_area {
    padding-bottom: 0;
  }

  .main_news_area .text_area {
    float: none;
    width: 100%;
    height: 100%;
    padding: 30px 20px;
    background: rgba(0,0,0,0.5);
  }

  .main_news_area,
  .main_news_area .content_area {
    height: 300px;
  }

  .main_news_area .swiper-button-next,
  .main_news_area .swiper-button-prev{
    display: none;
  }

  .main_news_area .text_area .caution_area span,
  .main_news_area .text_area .title,
  .main_news_area .text_area .normal,
  .main_news_area a {
    color: #fff;
  }
  .main_news_area .swiper-horizontal>.swiper-pagination-bullets, .main_news_area .swiper-pagination-bullets.swiper-pagination-horizontal, .main_news_area .swiper-pagination-custom {
    bottom: 15px;
  }

  .main_news_area button{
    width: 15px;
    height: 15px;
    bottom: 20px;
    margin-left: 25px;
  }
  .main_news_area .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    border: 1px solid #fff;
  }
  .main_news_area .swiper-pagination-bullet-active {
    background: #fff;
  }

  .main_news_area .text_area .caution_area span:first-child::after {
    background: #fff;
  }
  .reault_news_list .top_area .input_area input {
    font-size: 14px;
    line-height: 1.5714;
  }
  .reault_news_list .top_area .select_area {
    width: 100px;
    margin-right: 0;
  }

  .reault_news_list .top_area .search_icon {
    width: 16px;
    height: 16px;
  }

  .reault_news_list .add_btn {
    margin-top: 40px;
  }

  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    width: 97%;
  }

 
}

@media all and (max-width:764px) {
  .reault_news_list .top_area .select_area .com_select ul {
    left:0;
  }
}