/* 오픈핸즈 인은 */
.openhandsperson .keyvisual_area {
  background: url('../images/recurit/keyvisual_openhands.jpg') no-repeat;
  background-size: cover;
}

.openhandsperson .view .title {
  display: block;
  text-align: center;
  font-size: 28px;
  line-height: 1.428;
  font-weight: 700;
  color: #000;
}

.openhandsperson .icon_list {
  display: flex;
  justify-content: space-around;
  margin-top: 140px;
}

.openhandsperson .icon_list.v2 {
  margin-top: 120px;
  justify-content: center;
}


.openhandsperson .icon_box {
  min-width: 20%;
  text-align: center;
}

.openhandsperson .icon_list .icon_box:last-child {
  padding-right: 0;
}

.openhandsperson .icon_list.v2 .icon_box,
.openhandsperson .icon_list.v2 .icon_box:last-child {
  padding: 0 130px;
}


.openhandsperson .icon_box .img_area img {
  text-align: center;
}

.openhandsperson .icon_box .bold {
  display: block;
  margin-top: 20px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  color: #004098;
}

.openhandsperson .icon_box p {
  margin-top: 10px;
}


/* 채용절차  */
.procedure .keyvisual_area {
  background: url('../images/recurit/keyvisual_career.jpg') no-repeat;
  background-size: cover;
}

.procedure_area {
  display: flex;
  justify-content: space-between;
}

.procedure_area .procedure_box {
  padding-right: 9%;
  text-align: center;
  background: url('../images/recurit/icon-procedure-arrow.png') no-repeat 80% 35px;
  background-size: 16px 30px;
}

.procedure_area .procedure_box:last-child {
  padding-right: 0;
  background: none;
}

.procedure_area .procedure_box .img_area img {
  text-align: center;
}

.procedure_area .procedure_box .step {
  margin-top: 44px;
  color: #004098;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 700;
}

.procedure_area .procedure_box .normal {
  margin-top: 10px;
  color: #000;
}

.procedure .process_table {
  margin-top: 140px;
}

.procedure .process_table .sub_title_text {
  display: block;
  font-size: 28px;
  line-height: 1.428;
  font-weight: 700;
}

.process_table .table_area {
  margin-top: 40px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.process_table .table_area .table_cell {
  position: relative;
  display: flex;
  padding: 40px 0;
  border-bottom: 1px solid #ccc;
}

.process_table .table_area .table_cell > div {
  display: flex;
}

.process_table .table_area .table_cell:last-child {
  border-bottom: 0;
}

.process_table .table_area .table_cell .step {
  margin-right: 70px;
  color: #004098;
  font-weight: 700;
}

.process_table .table_area .table_cell .bold {
  width: 230px;
  margin-right: 85px;
  font-weight: 700;
}

.process_table .table_area .table_cell li {
  position: relative;
  padding-left: 15px;
  line-height: 28px;
  color: #000;
}

.process_table .table_area .table_cell li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 12px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #000;
}

.process_table .table_area a {
  position: absolute;
  top:40px;
  right: 0;
  padding: 0;
  width: 200px;
}

.procedure .notication_area {
  margin-top: 80px;
  padding: 40px 80px;
  background: #f5f5f5;
}

.procedure .notication_area .list {
  display: flex;
  justify-content: space-between;
}

.procedure .notication_area .list .bold {
  display: block;
  font-weight: 700;
  margin-bottom: 20px;
}

.procedure .notication_area .list p {
  padding-left: 25px;
  text-indent: -25px;
}

.procedure .notication_area .list li .number span:first-child {
  position: relative;
  padding-right: 10px;
}

.procedure .notication_area .list li .number span:first-child:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 14px;
  background: #000;
}

.procedure .notication_area .list li .number span:last-child {
  padding-left: 10px;
}

.method_area .content_area {
  position: relative;
  padding-bottom: 80px;
  border-bottom: 1px solid #ccc;
}

.method_area .content_area:after {
  content: "";
  display: block;
  clear: both;
}

.method_area .left_area {
  float: left;
  width: 20%;
}

.method_area .left_area .bold {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.4;
  color: #000;
}

.method_area .right_area {
  float: right;
  width: 80%;
}

.method_area .step_list {
  position: relative;
}

.method_area .step_list:after {
  display: block;
  clear: both;
  content: "";
}

.method_area .step_list span {
  display: block
}

.method_area .step_box {
  float: left;
  width: 22%;
  padding-right: 4%;
  background: url(../images/recurit/icon-procedure-arrow.png) no-repeat 95% 35px;
  background-size: 16px 30px;
  text-align: center;
}

.method_area .step_box:nth-child(4) {
  background: none;
  padding-right: 0;
}

.method_area .step_box:nth-child(5),
.method_area .step_box:nth-child(6) {
  margin-top: 120px;
}

.method_area .step_box:nth-child(6) {
  background: none;
}

.method_area .step_box .step {
  margin-top: 33px;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 700;
  color: #004098;
}

.method_area .step_box .coment {
  margin-top: 20px;
}

.method_area .step_box .gray {
  display: block;
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.6);
}



.method_area .content_area+.content_area {
  padding: 80px 0;
  border-bottom: 0;
}

.method_area .content_area+.content_area .right_area .step_box:last-child {
  background: none;
}

.right_area .info_site {
  margin-top: 40px;
  padding-left: 40px;
}

.right_area .info_site>* {
  display: inline-block;
  vertical-align: top;
}

.right_area .info_site .title {
  margin-right: 50px;
  color: #000;
  font-weight: 700;
}

.right_area .info_site .site span {
  display: inline-block;
  width: 75px;
  margin-right: 20px;
  vertical-align: middle;
}

.right_area .info_site .site a {
  text-decoration: underline;
  color: #059aee;
  letter-spacing: -0.03em
}


/* 채용공고 */
.notice .keyvisual_area {
  background: url('../images/recurit/keyvisual_notice.jpg') no-repeat;
  background-size: cover;
}

.notice .content_wrap .title {
  display: block;
  text-align: center;
  font-size: 28px;
  line-height: 1.428;
  font-weight: 700;
}

.notice .notice_table {
  margin-top: 80px;
  width: 100%;
}

.notice .notice_table .table_header {
  display: table;
  width: 100%;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.notice .notice_table .table_header span {
  display: table-cell;
  padding: 20px 0;
  color: #000;
  font-weight: 700;
  text-align: center;
}

.notice .notice_table .table_body span {
  display: table-cell;
  text-align: center;
}

.notice .notice_table .table_body span {
  padding: 40px 0;
}

.notice .notice_table .table_body a {
  display: table;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.notice .notice_table .table_body a:hover span:nth-child(2),
.notice .notice_table .table_body a.on span:nth-child(2) {
  font-weight: 700;
}

.notice .notice_table .table_body a:hover span:first-child,
.notice .notice_table .table_body a.on span:first-child {
  color: #004098;
  font-weight: 700;
}

.notice .notice_table .table_body a.close span:first-child {
  color: #666;
  font-weight: 700;
}

.notice .notice_table .table_body a.on>* {
  font-weight: 700;
}


.notice .notice_table .w20 {
  width: 20%;
}

.notice .notice_table .w15 {
  width: 15%;
}

.notice .notice_table .w50 {
  width: 50%;
}

.notice .caution {
  display: block;
  margin-top: 60px;
  font-size: 16px;
  line-height: 1.75;
  text-align: center;
}


/* 채용지원 */

.support .keyvisual_area {
  background: url('../images/recurit/keyvisual_support.jpg') no-repeat;
  background-size: cover;
}

.support .form_area .title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.428;
}

.support .form_area .title>span {
  font-size: 30px;
  font-weight: 700;
  color: #059aee;
}

.support .privacy_area {
  overflow: auto;
  height: 280px;
  padding: 40px 20px;
  margin-top: 60px;
  background: #f5f5f5;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: -0.03em;
}

.support .privacy_area .text_box {
  margin-top: 30px;
}

.support .privacy_area .table {
  margin-top: 30px;
}
.support .privacy_area .table.mobile {
  display: none;
}

.support .privacy_area .table table {
  width: 100%;
  border: 1px solid #000;
}

.support .privacy_area .table th,
.support .privacy_area .table td {
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.support .privacy_area .table th {
  border-right: 1px solid #000;
  background: #d9d9d9;
}

.support .privacy_area .table td {
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  background: #fff;
}

.support .checkbox {
  margin-top: 20px;
  text-align: right;
}

.support .checkbox input {
  position: relative;
  opacity: 0;
}

.support .checkbox input+label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

.support .checkbox input+label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 18px;
  height: 18px;
  background: url('../images/common/icon_check.svg') no-repeat center;
  transform: translateY(-50%);
}

.support .checkbox input:checked+label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 18px;
  height: 18px;
  background: url('../images/common/icon_check_on.svg') no-repeat center;
  background-size: cover;
  transform: translateY(-50%);
}

.support .download_area {
  position: relative;
  margin-top: 40px;
  padding: 40px 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.support .download_area span {
  display: block;
}

.support .download_area .title {
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 1.5;
}

.support .download_area .button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;

}

.support .download_area .button a {
  width: 200px;
  padding:0;
}


.support .info_input_area {
  margin-top: 80px;
}

.support .info_input_area .title {
  display: block;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 700;
}

.support .info_input_area .sub_title {
  display: block;
  margin-top: 10px;
  line-height: 28px;
  color: #059aee;
  font-weight: 400;
}

.support .input_wrap {
  display: flex;
  margin-top: 40px;
}

.support .input_wrap.email .input_area {
  margin-right: 0;
}

.support .input_area {
  position: relative;
  margin-right: 60px;
}

.support .input_area span {
  font-size: 20px;
  line-height: 1.6;
  font-weight: 700;
}

.support .input_area span>span {
  font-weight: 700;
  color: #059aee;
}

.support .input_area .input_box {
  width: 420px;
  height: 50px;
  margin-top: 10px;
}

.support .input_area .input_box .ui-datepicker-trigger {
  position: absolute;
  right: 15px;
  top: 70%;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
  cursor: pointer;
}

.support .input_area .input_box.v2 {
  width: 440px;
}

.support .input_area .input_box input[type="text"],
.support .select_box select {
  width: 100%;
  height: 100%;
  border: 1px solid #999;
  box-sizing: border-box;
  background: #fff;
  padding-left: 20px;
  box-sizing: border-box;
}

.support .select_box {
  position: relative;
  width: 440px;
  border: 1px solid #999;
}

.support .select_box .com_select {
  padding: 12px 0;
  border-bottom: 0;
}

.support .select_box .com_select:after {
  display: none;
}

.support .select_box .com_select.on:after {
  display: block;
}

.support .select_box .com_select .title {
  font-size: 16px;
}

.support .select_box select {
  padding: 0 0 0 20px;
  appearance: none;
  background: url('../images/common/icon-select_arrow.png') no-repeat 95% center;
  background-size: 12px;
}

.support .input_wrap.email {
  align-items: flex-end;
  justify-content: space-between;
}

.support .input_wrap.email .txt {
  margin: 0 -20px;
  line-height: 55px;
  font-size: 20px;
}

.support .input_wrap.file {
  display: block;
}

.support .input_wrap.file .input_box {
  width: 100%;
  height: 100%;
}

.support .input_wrap.file .input_box>* {
  display: inline-block;
  vertical-align: top;
}

.support .info_text {
  margin-top: 10px;
  color: #059aee;
}
.support .info_text span {
  display: block;
}

.support .input_area .file_upload>* {
  display: inline-block;
  vertical-align: middle;
}

.support .input_area .file_upload label {
  display: inline-block;
  cursor: pointer;
}
.support .input_area .file_upload input[type="file"] {  /* 파일 필드 숨기기 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}

.support .input_area .file_upload input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}

.support .input_area .file_upload label {
  display: inline-block;
  width: 200px;
  padding:0;
  margin-left: 20px;
  text-align: center;
  cursor: pointer;
  
}

.support .input_area .file_upload  .only-mobile {
  display: none;
}

/* named upload */
.support .input_area .file_upload .upload-name[type="text"] {
  display: none;
  -webkit-appearance: none;
  /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
}

.support .info_caution_text {
  margin-top: 80px;
  padding: 40px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.support .info_caution_text ul li {
  color: #000;
}

.support .confirm_button {
  display: block;
  width: 100%;
  margin-top: 60px;
  text-align: center;
}

.support .confirm_button .com_button {
  width: 200px;
  padding: 0;
}

.support .confirm_button.scroll_motion {
  transition: all 0.3s;
}

.support .success_area {
  width: 580px;
  margin: 0 auto;
  text-align: center;
}

.support .success_area .title {
  font-size: 28px;
  color: #004098;
  line-height: 1.428;
  font-weight: 700;
}

.support .success_area p {
  margin-top: 40px;
  font-size: 20px;
  line-height: 1.6;
  font-weight: 700;
}

.support .success_area p+p {
  margin-top: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: inherit;
}

.support .success_area .table {
  margin-top: 110px;
}

.support .success_area .table_title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
}

.support .success_area table {
  width: 100%;
  margin-top: 40px;


}

.support .success_area table thead tr {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.support .success_area table thead th {
  padding: 20px 0;
  font-weight: 700;

}

.support .success_area table tbody tr {
  border-bottom: 1px solid #ccc;
}

.support .success_area table tbody td {
  padding: 40px 0;
}

.support .success_area .final_button {
  margin-top: 80px;
}

/* faq */
.faq .keyvisual_area {
  background: url('../images/recurit/keyvisual_faq.jpg') no-repeat;
  background-size: cover;
}

.faq .main_title {
  display: block;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.428;
  text-align: center;
}

.faq .sub_title {
  display: block;
  margin-top: 10px;
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
}

.faq .sub_title a {
  font-size: 20px;
  line-height: 1,6;
}
.faq .paging_wrap {
  margin-top: 50px;
}

.faq .accordian_wrap {
  margin-top: 80px;
}

.faq .accordian_area:first-child {
  border-top: 1px solid #ccc;
}

.faq .tab_area .view.on {
  margin-top: 0;
}

.support .input_wrap.file .input_area {
  margin-right: 0;
}

.only-mobile {
  display: none;
}

.support .input_area .file_list_area {
  width: 840px;
  min-height: 50px;
  padding: 11px 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.support .input_area .file_list_area .file_item>* {
  display: inline-block;
  vertical-align: middle;
}

.support .input_area .file_list_area span {
  font-size: initial;
  font-weight: initial;
}

.support .input_area .file_list_area .close {
  width: 30px;
  height: 30px;
  background: url('../images/common/file_delect.png') no-repeat;
  background-size: cover;
  text-indent: -9999px;
  cursor: pointer;
}

@media all and (max-width:1400px) {
  .process_table .table_area a {
    position: relative;
    margin-left: 2%;
  }
  .support .select_box {
    margin-left: 2%;
  }

}

@media all and (max-width:1200px) {
  .procedure_area .procedure_box {
    padding-right: 4%;
    background-position: 100% 20px;
  }
  .support .select_box .com_select .title {
    font-size: 14px;
    line-height: 1.5714;
  }
  .support .download_area span {
    font-size: 14px;
    line-height: 1.5714;
  }
}


@media all and (max-width:1024px) {
  .faq .keyvisual_area {
    background: url('../images/recurit/mobile_keyvisual_faq.jpg') no-repeat center;
    background-size: cover;
  }

  .faq .main_title {
    margin: 0 auto;
    font-size: 18px;
    letter-spacing: -0.05em;
  }
  .faq .main_title br {
    display: none;
  }

  .faq .sub_title, .faq .sub_title a {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.57;
  }

  .faq .accordian_wrap {
    margin-top: 50px;
  }

  .support .keyvisual_area {
    background: url('../images/recurit/mobile_keyvisual_support.jpg') no-repeat center;
    background-size: cover;
  }
  .support .form_area .title,
  .support .form_area .title>span {
    font-size: 18px;
  }

  .support .privacy_area {
    margin-top: 30px;
    padding: 20px;
    font-size: 14px;
    line-height: 1.5714;
  }

  .support .privacy_area span,
  .support .privacy_area p,
  .support .privacy_area li,
  .support .privacy_area .text_box {
    font-size: 14px;
    line-height: 1.5714;
  }

  .support .privacy_area .table.pc {
    display: none;
  }

  .support .privacy_area .table.mobile {
    display: block;
  }

  .support .privacy_area .table.mobile table {
    border: 1px solid #666;
    margin-top: 5px;
  }

  .support .privacy_area .table.mobile td {
    border-top:1px solid #666;
    border-right: 1px solid #666;

  }

  .support .privacy_area .table th,
  .support .privacy_area .table td {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    line-height: 1.5714;
  }

  .support .input_wrap {
    margin-top: 25px;
  }

  .support .info_input_area {
    margin-top: 50px;
  }

  .support .download_area {
    margin-top: 50px;
    padding: 30px 0;
  }

  .support .download_area .button {
    position: static;
    margin-top: 40px;
    font-size: 14px;
    transform: none;
    line-height: 1.5714;
  }

  .support .download_area .button a {
    padding: 0;
  }


  .support .input_wrap {
    position: relative;
    display: block;
  }

  .support .input_wrap.file .input_box>* {
    width: 100%;
    text-align: center;
  }
  .support .input_area {
    margin-right: 0;
  }

  .support .input_area+.input_area {
    margin-top: 25px;
  }

  .support .email .input_area .input_box {
    width: 93%;
  }

  .support .input_area .input_box,
  .support .input_area .input_box.v2,
  .support .select_box {
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    margin-top: 5px;
  }
  .support .select_box {
    margin-left: 0;
  }

  .support .input_wrap.email .txt {
    position: absolute;
    top: 28%;
    right: 0;
    margin: 0;
    line-height: 1;
    font-size: 16px;
    transform: translateY(-50%);
  }

  .support .select_box {
    margin-top: 5px;
  }

  .support .input_area span {
    font-size: 16px;
  }

  .support .input_area .file_list_area .file_item {
    width: 100%;
    text-align: left;
  }

  .support .input_area .file_list_area span {
    font-size: 14px;
  }

  .support .input_area .input_box .ui-datepicker-trigger {
    width: 20px;
    height: 20px;
  }

  .support .input_area .file_upload label {
    margin: 0 auto;
    padding: 0;
  }

  .support .info_text span {
    margin-top: 5px;
    text-align: left;
    font-size: 14px;
    line-height: 1.5714;
    color: #888;
    font-weight: 400;
    padding-left:17px;
    text-indent: -17px;
  }

  .support .info_caution_text {
    margin-top: 30px;
    padding: 20px 0;
  }

  .support .input_area .file_upload .com_button {
    position: relative;
    margin-top: 40px;
  }
  .support .select_box .com_select {
    padding: 10px 0;
  }

  .support .com_select .select_list {
    top:43px;
  }

  .support .info_caution_text ul li {
    font-size: 14px;
    padding-left: 10px;
    text-indent: -10px;
    line-height: 1.5714;
  }

  .support .confirm_button {
    margin-top: 50px;
  }

  .support .input_area .file_upload label {
    line-height: 45px;
  }

  .support .success_area {
    width: 100%;
  }

  .support .success_area .title {
    font-size: 18px;
  }

  .support .success_area p {
    font-size: 14px !important;
  }

  .support .success_area .table {
    margin-top: 40px;
  }

  .support .success_area .table_title {
    font-size: 14px;
    line-height: 1.5714;
  }

  .support .success_area table {
    margin-top: 20px;
  }

  .support .success_area table thead th {
    padding: 10px 0;
    font-size: 14px;
    line-height: 1.5714;
  }

  .support .success_area table tbody td {
    padding: 20px 0;
    font-size: 14px;
    line-height: 1.5714;
  }

  .support .success_area .final_button {
    margin-top: 40px;
  }

  .support .info_input_area .sub_title {
    margin-top: 5px;
    font-size: 14px;
    line-height: 1.5714;
  }

  .procedure_area {
    display: block;
  }

  .procedure_area .procedure_box {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 0;
    padding-bottom: 70px;
    background: url('../images/common/mobile_down_arrow.png') no-repeat;
    background-position: 30px 90px;
    background-size: 20px 11px;
  }

  .procedure_area .procedure_box .img_area {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 15px;
    box-sizing: border-box;
  }

  .procedure_area .procedure_box .img_area img {
    width:50px;
    max-width: 50px;
  }



  .procedure_area .procedure_box>div {
    margin-left: 34px;
    text-align: left;
  }

  .procedure_area .procedure_box>div br {
    display: none;
  }

  .procedure_area .procedure_box .step {
    margin-top: 0;
    font-size: 16px;
  }
  .procedure_area .procedure_box .normal {
    font-size: 14px;
    line-height: 1.5714;
  }

  .procedure_area .procedure_box:last-child {
    padding-bottom: 0;
  }

  .procedure .process_table {
    margin-top: 75px;
  }

  .procedure .process_table .sub_title_text {
    font-size: 16px;
  }

  .process_table .table_area {
    margin-top: 5px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
  }

  .process_table .table_area .table_cell {
    display: flex;
    padding: 30px 0;
  }


  .process_table .table_area .table_cell > div {
    display: inline;
  }
  .process_table .table_area .table_cell .bold {
    display: block;
    margin-right: 0;
    font-size: 14px;
    line-height: 1.5714;
  }

  .process_table .table_area .table_cell .bold br {
    display: none;
  }

  .process_table .table_area .table_cell .step {
    margin-right: 30px;
  }

  .process_table .table_area .table_cell ul {
    margin-top: 5px;
  }

  .process_table .table_area .table_cell li {
    font-size: 14px;
    line-height: 1.5714;
  }
  .process_table .table_area .table_cell li + li {
    margin-top: 5px;
  }

  .process_table .table_area a {
    top:0;
    margin-top: 40px;
    margin-left: 0;
    padding: 0;
  }

  .procedure .notication_area {
    display: block;
    margin-top: 50px;
    padding: 20px;

  }

  .procedure .notication_area .list {
    display: block;
  }

  .procedure .notication_area .list span,
  .procedure .notication_area .list p {
    font-size: 14px;
    line-height: 1.5714;
  }

  .procedure .notication_area .list p {
    padding-left: 17px;
    text-indent: -17px;
  }

  .procedure .notication_area .list p br {
    display: none;
  }

  .procedure .notication_area .list .bold {
    margin-bottom: 0;
  }

  .procedure .notication_area .list .bold>span {
    display: block;
  }

  .procedure .notication_area .list li+li {
    margin-top: 10px;
  }

  .procedure .notication_area .list li .number span {
    display: block;
  }

  .procedure .notication_area .list li .number span:first-child:after {
    display: none;
  }

  .procedure .notication_area .list li .number span:last-child {
    padding-left: 0;
  }

  .notice .keyvisual_area {
    background: url('../images/recurit/mobile_keyvisual_notice.jpg') no-repeat center;
    background-size: cover;
  }

  .notice .content_wrap .title {
    font-size: 18px;
  }
  .notice .content_wrap .title br {
    display: none;
  }

  .notice .notice_table {
    margin-top: 50px;
  }

  .notice .notice_table .table_header {
    display: none;
  }

  .notice .notice_table .table_body a {
    display: block;
    padding: 30px 10px;
    border-bottom: 1px solid #000;
    background: url('../images/common/mobile_right_arrow.png') no-repeat 99% center;
    background-size: 13px;
    box-sizing: border-box;
  }

  .notice .notice_table .table_body a:first-child {
    border-top: 1px solid #000;
  }

  .notice .notice_table .table_body span {
    padding: 0;
    display: block;
    text-align: left;
    font-size: 14px;
    line-height: 1.5714;
  }

  .notice .notice_table .table_body span:last-child {
    display: none;
  }

  .notice .notice_table .w20,
  .notice .notice_table .w50,
  .notice .notice_table .w15 {
    width: 100%;
    text-align: left;
  }

  .procedure .keyvisual_area {
    background: url('../images/recurit/mobile_keyvisual_career.jpg') no-repeat;
    background-size: cover;
  }

  .method_area .left_area,
  .method_area .right_area {
    float: none;
    width: 100%;
  }
  .method_area .step_list .img_area {
    margin: 0 15px;
  }

  .method_area .left_area .bold {
    display: block;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid #000;
    font-size: 16px;
  }
  .method_area .step_box .gray {
    font-size: 14px;
    padding-left: 10px;
    text-indent: -10px;
    line-height: 1.5714;
  }

  .method_area .step_list {
    margin-top: 50px;
    padding-bottom: 0;
  }

  .method_area .step_box,.method_area .step_box:nth-child(4) {
    float: none;
    display: flex;
    align-items: center;
    width: 100%;
    padding-right: 0;
    padding-bottom: 70px;
    background: url(../images/common/mobile_down_arrow.svg) no-repeat;
    background-position:30px 90px;
    background-size: 20px 11px;
    text-align: left;
  }

  .method_area .step_box .step {
    margin-top: 0;
    font-size: 16px;
  }

  .method_area .step_box .coment {
    margin-top: 0;
  }

  .method_area .step_box:nth-child(5),
  .method_area .step_box:nth-child(6) {
    margin-top: 0;
  }

  .method_area .step_box>div {
    margin-left: 35px;
  }

  .method_area .step_list span img {
    width: 50px;
    max-width: 50px;
  }

  .procedure_area .procedure_box .img_area img {
    text-align: center;
  }

  .method_area .step_box:nth-child(6) {
    padding-bottom: 0;
  }

  .method_area .content_area+.content_area .right_area .step_list .step_box:first-child {
    background-position: 30px 110px;
  }

  .method_area .step_box.other {
    background-position: 30px 145px;
  }

  .right_area .info_site {
    margin-top: 25px;
    padding-left: 0;
  }

  .right_area .info_site>* {
    display: block;
    margin-top: 5px;
  }
  .right_area .info_site .title, .right_area .info_site .site a {
    font-size: 14px;
    line-height: 1.5714;
  }

  .right_area .info_site .site span {
    display: block;
    font-size: 14px;
    line-height: 1.5714;
  }

  .right_area .info_site .site div+div {
    margin-top: 20px;
  }

  .method_area .step_box .coment {
    font-size: 14px;
    line-height: 1.5714;
  }

  .method_area .content_area {
    padding-bottom: 70px;
    border-bottom: 35px;
  }

  .method_area .content_area+.content_area {
    padding: 0 0;
  }

  .method_area .content_area+.content_area .right_area .step_box:last-child {
    padding-bottom: 0;
  }

  .openhandsperson .keyvisual_area {
    background: url('../images/recurit/mobile_keyvisual_openhands.jpg') no-repeat;
    background-size: cover;
  }

  .openhandsperson .view .title {
    margin: 0 auto;
    font-size: 18px;

  }
  .openhandsperson .view .title br {
    display: none;
  }

  .openhandsperson .icon_list {
    display: block;
    margin-top: 70px;
  }
  .openhandsperson .icon_list + .icon_list {
    margin-top: 0;
  }

  .openhandsperson .icon_list + .icon_list .icon_box:first-child{
    padding: 30px 0;
  } 

  .openhandsperson .icon_box {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 30px 0;
    border-bottom: 1px solid #ccc;
  }

  .openhandsperson .icon_box:first-child {
    padding: 0 0 30px 0;
  }

  


  .openhandsperson .icon_box .img_area {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-left: 25px;
    box-sizing: border-box;
  }

  .openhandsperson .icon_box .img_area img {
    max-width: 50px;
    height: 100%;
  }

  .openhandsperson .icon_box>div {
    margin-left: 35px;
    text-align: left;
  }

  .openhandsperson .icon_box>div br {
    display: none;
  }

  .openhandsperson .icon_box .bold {
    margin-top: 0;
    font-size: 16px;
  }

  .openhandsperson .icon_box p {
    margin-top: 0;
    font-size: 14px;
    line-height: 1.5714;
  }

  .openhandsperson .icon_list.v2 {
    margin-top: 0;
  }

  .openhandsperson .icon_list.v2 .icon_box,
  .openhandsperson .icon_list.v2 .icon_box:last-child {
    padding: 30px 0;
  }

  .process_table .table_area .table_cell li::before {
    top:8px;
  }
  .support .input_area .file_upload  .only-mobile  {
    display: block;
  }

  .only-pc {
    display: none;
  }

  .support .input_area .file_upload> *.only-mobile {
    display: block;
    margin-top: 5px;
  }
  .support .success_area p+p {
    letter-spacing: -0.05em;
  }

  .notice .caution {
    margin-top: 30px;
    font-size: 14px;
    line-height: 1.57;
  }

  .support .input_area .file_upload .upload-name[type="text"] {
    width: 100%;
  }

}
