
/* 오픈핸즈 인은 */
.openhandsperson .keyvisual_area {
  background: url('../images/recurit/keyvisual_openhands.jpg') no-repeat;
  background-size: cover;
}

.openhandsperson .title {
  display: block;
  text-align: center;
  font-size:30px;
  line-height: 42px;
  font-weight: 700;
  color: #000;
  
}

.openhandsperson .icon_list {
  display: flex;
  justify-content: center;
  margin-top:85px;
}

.openhandsperson .icon_list + .icon_list {
  margin-top: 120px;
}

.openhandsperson .icon_box {
  padding-right: 94px;
  text-align: center;
}

.openhandsperson .icon_list .icon_box:last-child {
  padding-right: 0;
}


.openhandsperson .icon_box .img_area img{
  width: 50%;
  margin: 0 auto;
}

.openhandsperson .icon_box .bold {
  display: block;
  margin-top:40px;
  font-size:30px;
  font-weight: 700;
  line-height: 42px;
  color: #004098;
}

.openhandsperson .icon_box p {
  margin-top: 20px;
  line-height: 32px;
  font-size: 20px;
}


/* 채용절차  */
.procedure .keyvisual_area {
  background: url('../images/recurit/keyvisual_career.jpg') no-repeat;
  background-size: cover;
}

.procedure_area {
  display: flex;
  justify-content: space-between;
}

.procedure_area .procedure_box {
  padding-right: 122px;
  text-align: center;
  background: url('../images/recurit/icon-procedure-arrow.png') no-repeat 90% 20px;
  background-size: 16px 30px;
}

.procedure_area .procedure_box:last-child {
  padding-right: 0;
  background: none;
}

.procedure_area .procedure_box .img_area img {
  width: 50%;
  text-align: center;
}

.procedure_area .procedure_box .step {
  margin-top: 44px;
  color: #004098;
  font-size: 20px;
  font-weight: 700;
}

.procedure_area .procedure_box .normal {
  margin-top: 20px;
  font-size: 20px;
  line-height: 28px;
  color: #000;
}

.procedure .process_table {
  margin-top: 160px;
}

.process_table .table_area {
  margin-top: 40px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.process_table .table_area .table_cell {
  position: relative;
  display: flex;
  align-items: center;
  padding: 40px 0;
  border-bottom: 1px solid #ccc;
}

.process_table .table_area .table_cell:last-child {
  border-bottom: 0;
}

.process_table .table_area .table_cell .step {
  margin-right: 58px;
  color: #004098;
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
}

.process_table .table_area .table_cell .bold {
  width: 205px;
  margin-right: 150px;
  font-size: 20px;
  line-height: 32px;
}

.process_table .table_area .table_cell li {
  position: relative;
  padding-left: 15px;
  font-size: 20px;
  line-height: 28px;
  color: #000;
}

.process_table .table_area .table_cell li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 12px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #000;
}

.process_table .table_area button {
  position: absolute;
  right: 0;
  height: 60px;
  padding: 0 50px;
  border: 1px solid #000;
  border-radius: 60px;
  font-size: 20px;
  font-weight: 700;
}

.procedure .notication_area {
  margin-top: 80px;
  padding: 60px 260px 60px 120px;
  background: #f5f5f5;
}

.procedure .notication_area .list {
  display: flex;
  justify-content: space-between;
}

.procedure .notication_area .list .bold {
  display: block;
  margin-bottom: 30px;
  font-size: 20px;
}

.procedure .notication_area .list p {
  line-height: 32px;
  font-size: 20px;
}

.procedure .notication_area .list p a {
  font-size: 20px;
}

.method_area .content_area {
  position: relative;
  padding-bottom: 80px;
  border-bottom: 1px solid #ccc;
}

.method_area .content_area:after {
  content: "";
  display: block;
  clear: both;
}

.method_area .content_area + .content_area {
  padding: 80px 0;
  border-bottom: 0;
}

.method_area .left_area {
  float: left;
  width:180px;
}

.method_area .left_area .bold {
  font-size: 30px;
  font-weight: 700;
  line-height: 42px;
  color: #000;
}

.method_area .right_area {
  float: right;
  width: 75%;
}

.method_area .step_list {
  display: flex;
  justify-content: space-between;
}

.method_area .step_list span {
  display: block
}

.method_area .step_box {
  padding-right: 122px;
  background: url(../images/recurit/icon-procedure-arrow.png) no-repeat 80% 20px;
  background-size: 16px 30px;
  text-align: center;
}

.method_area .step_box:last-child {
  padding-right: 0;
  background: none;
}

.method_area .step_box .img_area img{
  display: block;
  width: 50%;
  margin: 0 auto;
}

.method_area .step_box .step {
  margin-top: 33px;
  font-size:20px;
  line-height: 28px;
  font-weight: 700;
  color: #004098;
}

.method_area .step_box .coment {
  margin-top:20px;
  font-size:20px;
  line-height: 28px;
}


.method_area .step_list.v2 {
  justify-content: flex-start;
  align-items: center;

  margin-top:120px;
}

.right_area .info_site {
  display: flex;
  margin-top: 90px;
}

.right_area .info_site .title {
  margin-right: 30px;
  font-size:20px;
  color: #000;
  line-height: 28px;
  font-weight: 700;
}

.right_area .info_site .site span{
  display: inline-block;
  width: 90px;
  margin-right: 30px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.03em
}

.right_area .info_site .site a {
  font-size: 20px;
  text-decoration: underline;
  color: #059aee;
  letter-spacing: -0.03em
}
